﻿@page
@model Plumbago_Brokerage.Pages.Shared.Errors.Not_authorisedModel
@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Login</title>
   
    <link href="~/css/metro-all.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/toastr.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


    <style>
        .login-form {
            width: 400px;
            height: auto;
            top: 40%;
            margin-top: -160px;
        }
    </style>
</head>
<body>

    <div data-role="appbar" class="bg-darkCobalt shadow-2 fg-white" data-expand-point="lg">

        <a href="/" class="brand no-hover">
            <img src="~/images/hrlogo.png" style="height: 28px;"> Plumbago HR
        </a>
        <ul class="app-bar-menu">
        </ul>





    </div>

    <div class="row">
        <div style="min-height: 100vh; background-color: #f4fafd !important" class="cell-md-6">
            <div class="login-form rounded mx-auto p-6">



                <h1 class="text-bold header-color text-center"> Oops! </h1>
                <h2 class="text-bold header-color text-center">You are not authorised to view this page.</h2>

                <NavLink class="centered" href="/Welcome/Login">Login here</NavLink>




            </div>
        </div>
        <div style="min-height: 100vh;" class="cell-md-6">
            <div>
                <img src="~/images/notauthorised.jpg" style="display: block;
        max-width: 100%;
        height: auto;
        padding: 160px 120px 20px 120px;
" alt="login image" class="mx-auto">

            </div>

        </div>
    </div>




</body>
</html>