﻿@page
@model Plumbago_Brokerage.Pages.KPIManager.IssueEmployeeKPIModel
@{
}
<div class="container-fluid">
    <div>
        <h3>
            Issue Employee KPI
        </h3>

    </div>

    <hr />
</div>


<form method="post">
    <div class="border-none" data-cls-panel="rounded" data-role="panel">

        <partial name="SearchFilterArea" model="Model.Searchfilter" />
        <partial name="TableAreaPartial" model="Model.TableList" />

        <a class="button primary showloading" href="/KPIManager/KPIs_Edit"> Create New</a>
        <button type="submit" class="button showloading primary" asp-page-handler="Print"><i class="fas fa-trash"></i> Print Employee KPI</button>
        <button type="submit" class="button showloading secondary" onclick="return confirm('Are you sure you want to mail KPI to all Employees?')" asp-page-handler="Mail"><i class="fas fa-envelope"></i> Mail Employees KPI</button>
        <a class="button alert" onclick="goBack()">Cancel</a>
        <button type="submit" class="button showloading alert" asp-page-handler="Delete"><i class="fas fa-trash"></i> Delete</button>

    </div>
</form>