﻿@page
@model Plumbago_Brokerage.Pages.KPIManager.KPIsModel
@{
}
<div class="container-fluid">
    <div>
        <h3>
            KPIs
        </h3>

    </div>

    <hr />
</div>


<form method="post">
    <div class="border-none" data-cls-panel="rounded" data-role="panel">

        <partial name="SearchFilterArea" model="Model.Searchfilter" />
        <partial name="TableAreaPartial" model="Model.TableList" />

        <a class="button alert" onclick="goBack()">Cancel</a> <a class="button primary showloading" href="/KPIManager/KPIs_Edit"> Create New</a>

        <button type="submit" class="button showloading alert" asp-page-handler="Delete"><i class="fas fa-trash"></i> Delete</button>
    </div>
</form>