﻿@page
@model Plumbago_Brokerage.Pages.KPIManager.KPIs_EditModel
@{
}
<div class="container-fluid">
    <div>
        <h3>
            @Model.EditModel.PageTitle
        </h3>

    </div>
    <hr />
    @if (Model.EditModel.ErrMsg != null)
    {
        ViewData["message"] = Model.EditModel.ErrMsg;
        ViewData["type"] = Model.EditModel.ErrMsgType;
        <partial name="_messagepanelPartial" />
    }
</div>


<div class="border-none" data-cls-panel="rounded" data-role="panel">
    <form id="myform" method="post">


        <div class="container-fluid">
            <div class="row">
                <div class="cell-12">

                    <div class="mb-3" data-role="accordion"
                         data-one-frame="false"
                         data-show-active="true">

                        <div class="frame active">
                            <div class="heading">KPI Details</div>
                            <div class="content">
                                <div class="p-2">

                                    <div class="row mb-3">
                                        <label class="text-small text-bold cell-sm-1">Department</label>
                                        <div class="cell-sm-4">
                                            <select asp-for="Department" asp-items="Model.Departments" class="rounded text-small" data-role="select">
                                                <option disabled value="">- select -</option>

                                            </select>
                                            <span class="text-small fg-red" asp-validation-for="Department"></span>
                                        </div>
                                        <div class="cell-sm-1"></div>
                                        <label class="text-small text-bold cell-sm-1">Period</label>
                                        <div class="cell-sm-4">
                                            <select asp-for="Period" asp-items="Model.Periods" class="rounded text-small" data-role="select">
                                                <option disabled value="">- select -</option>

                                            </select>
                                        </div>
                                        <span class="text-small fg-red" asp-validation-for="Period"></span>
                                    </div>
                                    <br />
                                    <div class="row mb-3">
                                        <textarea asp-for="KpiContent" id="editor1"></textarea>
                                        <span class="text-small fg-red" asp-validation-for="KpiContent"></span>
                                    </div>

                                    <div class="form-group">

                                        <div class="text-center">
                                            <span class="">
                                                <a class="button alert" onclick="goBack()">Cancel</a>  <button type="submit" class="button primary" asp-page-handler="Save"> <i class="fas fa-save"></i> Submit</button>
                                            </span>

                                        </div>


                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>




                </div>


            </div>

            <div>


            </div>

        </div>
    </form>

</div>
<style>

    .cke_chrome {
        width: 100% !important;
    }
</style>

<script>
    CKEDITOR.replace('editor1', {
        height: 800,
        
        baseFloatZIndex: 10005
    });
</script>