﻿@page
@model Plumbago_Brokerage.Pages.HumanResources.Employees_editModel

@{
    ViewData["Title"] = "Employees Edit";
}

<div class="container-fluid">
    <div>
        <h3>
            @Model.EditModel.PageTitle
        </h3>

    </div>
    <hr />
    @if (Model.ErrMsg != null)
    {
        ViewData["message"] = Model.ErrMsg;
        ViewData["type"] = Model.ErrMsgType;
        <partial name="_messagepanelPartial" />
    }
</div>
<partial name="TopTabs" model="Model.EditModel" />

<div class="border-none" data-cls-panel="rounded" data-role="panel">
    <form id="myform" method="post" enctype="multipart/form-data">


        <div class="container-fluid">
            <div class="row">
                <div class="cell-12">

                    <div class="mb-3" data-role="accordion"
                         data-one-frame="false"
                         data-show-active="true">

                        <div class="frame active">
                            <div class="heading">Employee Details</div>
                            <div class="content">
                                <div class="p-2">
                                    <input type="hidden" asp-for="EmployeeId" />


                                    <div class="row mb-3">
                                        <label class="text-small text-bold cell-sm-1">Surname</label>
                                        <div class="cell-sm-4">

                                            <input data-role="input" data-prepend="<span class='mif-user'></span>" class="form-control text-small rounded" type="text" asp-for="Surname" />
                                            <span class="text-small fg-red" asp-validation-for="Surname"></span>
                                        </div>
                                        <div class="cell-sm-1"></div>
                                        <label class="text-small text-bold cell-sm-1">Other names</label>
                                        <div class="cell-sm-4">
                                            <input id="loanamount" data-role="input" data-prepend="<span class='mif-user'></span>" class="form-control rounded" type="text" asp-for="OtherNames" />
                                            <span class="text-small fg-red" asp-validation-for="OtherNames"></span>
                                        </div>

                                    </div>
                                    <div class="row mb-3">
                                        <label class="text-small text-bold cell-sm-1">Title</label>
                                        <div class="cell-sm-4">

                                            <input data-role="input" data-prepend="<span class='mif-user'></span>" class="form-control rounded" type="text" asp-for="Title" />
                                            <span class="text-small fg-red" asp-validation-for="Title"></span>
                                        </div>
                                        <div class="cell-sm-1"></div>
                                        <label class="text-small text-bold cell-sm-1">Username</label>
                                        <div class="cell-sm-4">
                                            @if (Model.EmployeeId != null)
                                            {
                                                <input data-role="input" data-prepend="<span class='mif-user'></span>" class="form-control rounded" type="text" asp-for="Username" disabled />
                                            }
                                            else
                                            { <input data-role="input" data-prepend="<span class='mif-user'></span>" class="form-control rounded" type="text" asp-for="Username" />
                                                <span class="text-small fg-red" asp-validation-for="Username"></span>
                                             }

                                        </div>

                                    </div>

                                    <div class="row mb-3">

                                        <label class="text-small text-bold cell-sm-1">Marital status</label>
                                        <div class="cell-sm-4">

                                            <select asp-for="MaritalStatus" class="rounded text-small" data-role="select">
                                                <option disabled value="">- select -</option>
                                                <option value="Single">Single</option>
                                                <option value="Married">Married</option>
                                            </select>
                                            <span class="text-small fg-red" asp-validation-for="MaritalStatus"></span>
                                        </div>
                                        <div class="cell-sm-1"></div>
                                        <label class="text-small text-bold cell-sm-1">Date of birth</label>
                                        <div class="cell-sm-4">

                                            <input id="duedate" type="text" asp-for="BirthDate" data-role="calendarpicker" class="form-control rounded" data-cls-calendar="compact">
                                            <span class="text-small fg-red" asp-validation-for="BirthDate"></span>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="text-small text-bold cell-sm-1">Email (official)</label>
                                        <div class="cell-sm-4">
                                            <input data-role="input" data-prepend="<span class='mif-envelope'></span>" class="form-control rounded" type="text" asp-for="Email" />
                                            <span class="text-small fg-red" asp-validation-for="Email"></span>
                                        </div>
                                        <div class="cell-sm-1"></div>
                                        <label class="text-small text-bold cell-sm-1">Email (personal)</label>
                                        <div class="cell-sm-4">
                                            <input data-role="input" data-prepend="<span class='mif-envelope'></span>" class="form-control rounded" type="text" asp-for="Email2" />
                                            <span class="text-small fg-red" asp-validation-for="Email2"></span>

                                        </div>

                                    </div>

                                    <div class="row mb-3">

                                        <label class="text-small text-bold cell-sm-1">Sex</label>
                                        <div class="cell-sm-4">
                                            <select asp-for="Sex" class="rounded" data-role="select">
                                                <option disabled value="">- select -</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                            </select>
                                            <span class="text-small fg-red" asp-validation-for="Sex"></span>

                                        </div>
                                        <div class="cell-sm-1"></div>
                                        <label class="text-small text-bold cell-sm-1">State of origin</label>
                                        <div class="cell-sm-4">

                                            <select asp-for="State" class="rounded" asp-items="Model.States" data-role="select">
                                                <option disabled value="">- select -</option>

                                            </select>
                                            <span class="text-small fg-red" asp-validation-for="State"></span>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="text-small text-bold cell-sm-1">Phone No</label>
                                        <div class="cell-sm-4">

                                            <input data-role="input" data-prepend="<span class='mif-phone'></span>" class="form-control rounded" type="text" asp-for="MobilePhone" />
                                            <span class="text-small fg-red" asp-validation-for="MobilePhone"></span>
                                        </div>
                                        <div class="cell-sm-1"></div>
                                        <label class="text-small text-bold cell-sm-1">Other Phone No</label>
                                        <div class="cell-sm-4">
                                            <input data-role="input" data-prepend="<span class='mif-phone'></span>" class="form-control rounded" type="text" asp-for="Telephone" />
                                            <span class="text-small fg-red" asp-validation-for="Telephone"></span>
                                        </div>

                                    </div>

                                    <div class="row mb-3">
                                        <label class="text-small text-bold cell-sm-1">Address</label>
                                        <div class="cell-sm-4">
                                            <textarea asp-for="Address" class="metro-input rounded"></textarea>
                                            <span class="text-small fg-red" asp-validation-for="Address"></span>
                                        </div>
                                        <div class="cell-sm-1"></div>
                                        <label class="text-small text-bold cell-sm-1">Upload Photograph</label>
                                        <div class="cell-sm-4">
                                            @if (Model.EmployeeId != null)
                                            {
                                              
                                                <img width="150" style="border-radius: 10%;" src="~/Uploads/Profile/@Model.ImageUrl" />
                                            }

                                            <input type="file" asp-for="Image" data-role="file" data-prepend="Select your Image">

                                        </div>
                                       

                                    </div>

                                </div>






                            </div>
                        </div>
                    </div>

                    <div class="mb-3" data-role="accordion"
                         data-one-frame="false"
                         data-show-active="true">

                        <div class="frame active">
                            <div class="heading">Other Details</div>
                            <div class="content">
                                <div class="p-2">


                                    <div class="row mb-3">
                                        <label class="text-small text-bold cell-sm-1">Bank Name</label>
                                        <div class="cell-sm-4">

                                            <select asp-for="AcctName1" asp-items="Model.banks" class="rounded" data-role="select">
                                                <option disabled value="">- select -</option>

                                            </select>
                                            <span class="text-small fg-red" asp-validation-for="AcctName1"></span>
                                        </div>
                                        <div class="cell-sm-1"></div>
                                        <label class="text-small text-bold cell-sm-1">Account Number</label>
                                        <div class="cell-sm-4">
                                            <input data-role="input" data-prepend="<span class='mif-pencil'></span>" class="form-control rounded" type="text" asp-for="AcctNo1" />
                                            <span class="text-small fg-red" asp-validation-for="AcctNo1"></span>
                                        </div>

                                    </div>

                                    <div class="row mb-3">
                                        <label class="text-small text-bold cell-sm-1">Pension Managers</label>
                                        <div class="cell-sm-4">

                                            <select asp-items="Model.PFALists" asp-for="AcctName2" class="rounded" data-role="select">
                                                <option disabled value="">- select -</option>

                                            </select>
                                            <span class="text-small fg-red" asp-validation-for="NationalIdno"></span>
                                        </div>
                                        <div class="cell-sm-1"></div>
                                        <label class="text-small text-bold cell-sm-1">HMO</label>
                                        <div class="cell-sm-4">
                                            <select asp-items="Model.HMOLists" asp-for="Hmoname" class="rounded" data-role="select">
                                                <option disabled value="">- select -</option>

                                            </select>
                                        
                                        </div>

                                    </div>

                                    <div class="row mb-3">

                                        <label class="text-small text-bold cell-sm-1">Employment Date</label>
                                        <div class="cell-sm-4">

                                            <input id="txtstartdate" type="text" asp-for="HireDate" data-role="calendarpicker" class="form-control rounded" data-cls-calendar="compact">

                                            <span class="text-small fg-red" asp-validation-for="HireDate"></span>
                                        </div>
                                        <div class=" cell-sm-1"></div>
                                        <label class="text-small text-bold cell-sm-1">Probation Period(Months)</label>
                                        <div class="cell-sm-4">

                                            <input id="txtduration" data-role="input" data-prepend="<span class='mif-pencil'></span>" class="form-control rounded" type="text" asp-for="ConfirmDuration" />
                                            <span class="text-small fg-red" asp-validation-for="ConfirmDuration"></span>
                                        </div>


                                    </div>

                                    <div class="row mb-3">


                                        <label class="text-small text-bold cell-sm-1">Confirmation date</label>
                                        <div class="cell-sm-4">

                                            <input id="txtconfirmationdate" type="text" asp-for="ConfirmationDate" data-role="calendarpicker" class="form-control rounded" data-cls-calendar="compact" disabled>

                                        </div>

                                    </div>



                                    <div class="row mb-3">
                                        <label class="text-small text-bold cell-sm-1">Pay Group</label>
                                        <div class="cell-sm-4">
                                            <select asp-items="Model.Paygroups" asp-for="SheetId2" class="rounded" data-role="select">
                                                <option disabled value="">- select -</option>

                                            </select>
                                        </div>
                                        <div class="cell-sm-1"></div>
                                        <label class="text-small text-bold cell-sm-1">Grade Level</label>
                                        <div class="cell-sm-4">
                                            <select asp-items="Model.GradeLevel" asp-for="GradeId" class="rounded" data-role="select">
                                                <option disabled value="">- select -</option>

                                            </select>
                                        </div>
                                    
                                    </div>


                                    <div class="row mb-3">
                                        <label class="text-small text-bold cell-sm-1">Department</label>
                                        <div class="cell-sm-4">
                                            <select asp-items="Model.Departments" asp-for="DeptId" class="rounded" data-role="select">
                                                <option disabled value="">- select -</option>

                                            </select>
                                            <span class="text-small fg-red" asp-validation-for="DeptId"></span>
                                        </div>
                                        <div class="cell-sm-1"></div>
                                        <label class="text-small text-bold cell-sm-1">Employee Unit</label>
                                        <div class="cell-sm-4">
                                            <select asp-items="Model.Units" asp-for="UnitId" class="rounded" data-role="select">
                                                <option disabled value="">- select -</option>

                                            </select>
                                            <span class="text-small fg-red" asp-validation-for="UnitId"></span>
                                        </div>


                                    </div>

                                    <div class="row mb-3">
                                        <label class="text-small text-bold cell-sm-1">Employee Branch</label>
                                        <div class="cell-sm-4">
                                            <select asp-items="Model.Branches" asp-for="BranchId" class="rounded" data-role="select">
                                                <option disabled value="">- select -</option>

                                            </select>
                                            <span class="text-small fg-red" asp-validation-for="BranchId"></span>
                                        </div>
                                        <div class="cell-sm-1"></div>
                                        <label class="text-small text-bold cell-sm-1">Tax State</label>
                                        <div class="cell-sm-4">
                                            <select asp-items="Model.States" asp-for="State" class="rounded" data-role="select">
                                                <option disabled value="">- select -</option>

                                            </select>
                                            <span class="text-small fg-red" asp-validation-for="State"></span>
                                        </div>


                                    </div>

                                    <div class="row mb-3">
                                        <label class="text-small text-bold cell-sm-1">Employee Status</label>
                                        <div class="cell-sm-4">
                                            @foreach (var item in Model.ConfirmStatuses)
                                            {
                                                <input type="radio" asp-for="Tag" value="@item" data-role="radio" data-caption="@item">
                                            }

                                            <span class="text-small fg-red" asp-validation-for="State"></span>
                                        </div>
                                        <div class="cell-sm-1"></div>

                                        <label class="text-small text-bold cell-sm-1">Confirmation Status</label>
                                        <div class="cell-sm-4">
                                            <select class="rounded" asp-for="ConfirmStatus" data-role="select">
                                                <option disabled value="">- select -</option>
                                                <option value="">Pending</option>
                                                <option value="">Confirmed</option>

                                            </select>

                                        </div>

                                    </div>

                                    <div class="row mb-3">
                                        <label class="text-small text-bold cell-sm-1">Primary Manager</label>
                                        <div class="cell-sm-4">
                                            <select asp-for="PrimaryManagerId" asp-items="Model.Employees" class="rounded" data-role="select">
                                                <option disabled value="">- select -</option>

                                            </select>
                                        </div>
                                     
                                        <div class="cell-sm-1"></div>
                                        <label class="text-small text-bold cell-sm-1">Step</label>
                                        <div class="cell-sm-4">
                                            <select asp-items="Model.Steps" asp-for="Step" class="rounded" data-role="select">
                                                <option disabled value="">- select -</option>

                                            </select>

                                        </div>

                                    </div>

                                </div>






                            </div>
                        </div>
                    </div>

                    <div class="mb-3" data-role="accordion"
                         data-one-frame="false"
                         data-show-active="true">

                        <div class="frame active">
                            <div class="heading">Next of Kin Details</div>
                            <div class="content">
                                <div class="p-2">


                                    <div class="row mb-3">

                                        <label class="text-small text-bold cell-sm-1">Next of Kin name</label>
                                        <div class="cell-sm-4">

                                            <input data-role="input" data-prepend="<span class='fas fa-user'></span>" class="form-control rounded" type="text" asp-for="NextKin" />


                                        </div>
                                        <div class="cell-sm-1"></div>
                                        <label class="text-small text-bold cell-sm-1">Relationship</label>
                                        <div class="cell-sm-4">

                                            <select class="rounded" asp-for="KinRelationship" data-role="select">
                                                <option disabled value="">- select -</option>
                                                <option> Brother </option>
                                                <option> Mother </option>
                                                <option> Father </option>
                                                <option> Sister </option>
                                                <option> Nephew </option>
                                                <option> Mother-in-law </option>
                                                <option> Father-in-law </option>


                                            </select>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="text-small text-bold cell-sm-1">Address</label>
                                        <div class="cell-sm-4">
                                            <textarea asp-for="KinAddress" class="metro-input rounded"></textarea>
                                        </div>
                                        <div class="cell-sm-1"></div>
                                        <label class="text-small text-bold cell-sm-1">Phone</label>
                                        <div class="cell-sm-4">

                                            <input data-role="input" data-prepend="<span class='fas fa-phone'></span>" class="form-control rounded" type="text" asp-for="KinPhone" />

                                        </div>

                                    </div>

                                </div>






                            </div>
                        </div>
                    </div>

                    <div class="mb-3" data-role="accordion"
                         data-one-frame="false"
                         data-show-active="true">

                        <div class="frame active">
                            <div class="heading">Financial Details</div>
                            <div class="content">
                                <div class="p-2">
                                    <div class="row mb-3">
                                        <label class="text-small text-bold cell-sm-1">Basic Salary (Annual)</label>
                                        <div class="cell-sm-4">
                                            <input id="lblsalaryannual" asp-for="BasicSalary" data-role="input" data-prepend="₦" class="form-control rounded" type="text" />
                                            <label id="lblsalarymonthly" class="text-small text-bold cell-sm-1"></label>
                                            <span class="text-small fg-red" asp-validation-for="BasicSalary"></span>
                                        </div>
                                        <div class="cell-sm-1"></div>
                                        <label class="text-small text-bold cell-sm-1">Annual Tax</label>
                                        <div class="cell-sm-4">
                                            <input data-role="input" asp-for="AnnualTax" data-prepend="₦" class="form-control rounded" type="text" />
                                            <span class="text-small fg-red" asp-validation-for="AnnualTax"></span>
                                        </div>

                                    </div>
                                    <div class="row mb-3">
                                        <label class="text-small text-bold cell-sm-1">Housing Allowance (Annual)</label>
                                        <div class="text-small text-bold cell-sm-4">
                                            <input data-role="input" asp-for="HousingAllowance" data-prepend="₦" class="form-control rounded" type="text" />
                                            <span class="text-small fg-red" asp-validation-for="HousingAllowance"></span>
                                        </div>
                                        <div class="cell-sm-1"></div>
                                        <label class="text-small text-bold cell-sm-1">Transport Allowance (Annual)</label>
                                        <div class="cell-sm-4">
                                            <input data-role="input" asp-for="TransportAllowance" data-prepend="₦" class="form-control rounded" type="text" />
                                            <span class="text-small fg-red" asp-validation-for="TransportAllowance"></span>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="text-center">
                            <span class="">
                                <a class="button alert" onclick="goBack()">Cancel</a>  <button type="submit" class="button primary" asp-page-handler="Save"> <i class="fas fa-save"></i> Submit </button>
                            </span>

                        </div>


                    </div>
                </div>


            </div>

            <div>


            </div>

        </div>
    </form>

</div>

<script>
   


    $('#lblsalaryannual').keyup(function () {
        var annualsal = parseInt($('#lblsalaryannual').val());
        $('#lblsalarymonthly').text((annualsal / 12) + " monthly");
    });
    //toget confirmation date
    $(document).ready(function () {
        var startdate = $("#txtstartdate").val();
        $('#txtduration').keyup(function () {
            var probationperiod = parseInt($('#txtduration').val());
            const IsoDateTo = moment(startdate).format('YYYY-MM-DD[T]HH:mm:ss');
            var confirmationdate = moment(IsoDateTo).add(probationperiod, 'months');
            confirmationdate = moment(confirmationdate).format('YYYY-MM-DD');
            $("#txtconfirmationdate").val(confirmationdate);

        });
    });
   

</script>