﻿@page
@model Plumbago_Brokerage.Pages.HumanResources.Interests_EditModel
@{
}

<div class="container-fluid">
    <div>
        <h3>
            @Model.EditModel.PageTitle
        </h3>

    </div>
    <hr />
    @if (Model.EditModel.ErrMsg != null)
    {
        ViewData["message"] = Model.EditModel.ErrMsg;
        ViewData["type"] = Model.EditModel.ErrMsgType;
        <partial name="_messagepanelPartial" />
    }
</div>
<partial name="TopTabs" model="Model.EditModel" />

<div class="border-none" data-cls-panel="rounded" data-role="panel">
    <form id="myform" method="post">


        <div class="container-fluid">
            <div class="row">
                <div class="cell-12">

                    <div class="mb-3" data-role="accordion"
                         data-one-frame="false"
                         data-show-active="true">

                        <div class="frame active">
                            <div class="heading">Employee Interests</div>
                            <div class="content">
                                <div class="p-2">
                                    <input type="hidden" asp-for="EmployeeId" />


                                    <div class="row mb-3">
                                        <label class="text-small text-bold cell-sm-1">Employee No</label>
                                        <div class="cell-sm-4">

                                            <input data-role="input" data-prepend="<span class='mif-user'></span>" class="form-control text-small rounded" type="text" asp-for="EmployeeId" disabled />

                                        </div>
                                        <div class="cell-sm-1"></div>
                                        <label class="text-small text-bold cell-sm-1">Hobby</label>
                                        <div class="cell-sm-4">
                                            <input id="" data-role="input" data-prepend="<span class='mif-user'></span>" class="form-control rounded" type="text" asp-for="Name" />

                                        </div>

                                    </div>
                                    <div class="row mb-3">
                                        <label class="text-small text-bold cell-sm-1">Remarks</label>
                                        <div class="cell-sm-4">

                                            <textarea asp-for="Remarks" class="metro-input rounded"></textarea>

                                        </div>
                                        <div class="cell-sm-1"></div>
                                       

                                    </div>

                                    

                                    <div class="form-group">

                                        <div class="text-center">
                                            <span class="">
                                                <a class="button alert" onclick="goBack()">Cancel</a>  <button type="submit" class="button primary" asp-page-handler="Save"> <i class="fas fa-save"></i> Submit </button>
                                            </span>

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="mb-3" data-role="accordion"
                         data-one-frame="false"
                         data-show-active="true">

                        <div class="frame active">
                            <div class="heading">Employee Interests</div>
                            <div class="content">
                                <div class="p-2">

                                    <div class="row mb-3">
                                        <div class="cell-sm-12">
                                            <partial name="TableAreaPartial" model="Model.TableList" />
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>


            </div>

            <div>


            </div>

        </div>
    </form>

</div>