﻿@page
@model Plumbago_Brokerage.Pages.HumanResources.EmployeeGradeLevel_EditModel
@{
}
<div class="container-fluid">
    <div>
        <h3>
            @Model.EditModel.PageTitle
        </h3>

    </div>
    <hr />
    @if (Model.EditModel.ErrMsg != null)
    {
        ViewData["message"] = Model.EditModel.ErrMsg;
        ViewData["type"] = Model.EditModel.ErrMsgType;
        <partial name="_messagepanelPartial" />
    }
</div>
<partial name="TopTabs" model="Model.EditModel" />

<div class="border-none" data-cls-panel="rounded" data-role="panel">
    <form id="myform" method="post">


        <div class="container-fluid">
            <div class="row">
                <div class="cell-12">

                    <div class="mb-3" data-role="accordion"
                         data-one-frame="false"
                         data-show-active="true">

                        <div class="frame active">
                            <div class="heading">Employee Promotions and Grade Level</div>
                            <div class="content">
                                <div class="p-2">
                                    <input type="hidden" asp-for="EmployeeId" />

                                    <div class="row mb-3">
                                        <label class="text-small text-bold cell-sm-1">Grade Level</label>
                                        <div class="cell-sm-4">
                                            <select asp-for="Grade" asp-items="Model.Grades" class="rounded" data-role="select">
                                                <option disabled value="">- select -</option>

                                            </select>
                                        </div>
                                        <div class="cell-sm-1"></div>
                                        <label class="text-small text-bold cell-sm-1">PaySheet</label>
                                        <div class="cell-sm-4">
                                            <select asp-for="SheetId" asp-items="Model.Paysheets" class="rounded" data-role="select">
                                                <option disabled value="">- select -</option>

                                            </select>
                                        </div>

                                    </div>

                                    <div class="row mb-3">
                                        <label class="text-small text-bold cell-sm-1">Basic Salary (Annual)</label>
                                        <div class="cell-sm-4">
                                            <input id="lblsalaryannual" data-role="input" asp-for="Bs" data-prepend="₦" class="form-control rounded" type="text" />

                                        </div>
                                        <div class="cell-sm-1"></div>
                                        <label class="text-small text-bold cell-sm-1">Annual Tax</label>
                                        <div class="cell-sm-4">
                                            <input data-role="input" data-prepend="₦" asp-for="Ytax" class="form-control rounded" type="text" />
                                        </div>

                                    </div>
                                    <div class="row mb-3">
                                        <label class="text-small text-bold cell-sm-1">Housing Allowance (Annual)</label>
                                        <div class="text-small text-bold cell-sm-4">
                                            <input data-role="input" data-prepend="₦" asp-for="Ha" class="form-control rounded" type="text" />
                                        </div>
                                        <div class="cell-sm-1"></div>
                                        <label class="text-small text-bold cell-sm-1">Transport Allowance (Annual)</label>
                                        <div class="cell-sm-4">
                                            <input data-role="input" data-prepend="₦" asp-for="Ta" class="form-control rounded" type="text" />
                                        </div>

                                    </div>

                                    <br />
                                    <div class="form-group">
                                       
                                        <div class="text-center">
                                            <span class="">
                                               <a class="button showloading alert" onclick="goBack()">Cancel</a>  <button type="submit" class="button primary" asp-page-handler="Save"> <i class="fas fa-save"></i> Submit </button>
                                            </span>

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="mb-3" data-role="accordion"
                         data-one-frame="false"
                         data-show-active="true">

                        <div class="frame active">
                            <div class="heading">Employee Grade Levels</div>
                            <div class="content">
                                <div class="p-2">

                                    <div class="row mb-3">
                                        <div class="cell-sm-12">
                                            <partial name="TableAreaPartial" model="Model.TableList" />
                                           

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>


            </div>

            <div>


            </div>

        </div>
    </form>

</div>