﻿@page
@model Plumbago_Brokerage.Pages.HumanResources.EmployeePromotionsModel
@{
}
<div class="container-fluid">
    <div>
        <h3>
            Employee Promotions
        </h3>

    </div>

    <hr />
</div>


<form method="post">
    <div class="border-none" data-cls-panel="rounded" data-role="panel">

        <partial name="SearchFilterArea" model="Model.Searchfilter" />
        <partial name="TableAreaPartial" model="Model.TableList" />

        
      
        @*<button type="submit" class="button showloading alert" asp-page-handler="Delete"><i class="fas fa-trash"></i> Delete</button>*@
    </div>
</form>