﻿@page
@model Plumbago_Brokerage.Pages.HumanResources.EmployeeMedicalProcessing_EditModel
@{
}

<div class="container-fluid">
    <div>
        <h3>
            @Model.EditModel.PageTitle
        </h3>

    </div>
    <hr />
    @if (Model.EditModel.ErrMsg != null)
    {
        ViewData["message"] = Model.EditModel.ErrMsg;
        ViewData["type"] = Model.EditModel.ErrMsgType;
        <partial name="_messagepanelPartial" />
    }
</div>

<div class="border-none" data-cls-panel="rounded" data-role="panel">
    <form id="myform" method="post">
        <div class="container-fluid">
            <div class="row">
                <div class="cell-12">

                    <div data-role="accordion"
                         data-one-frame="false"
                         data-show-active="true">

                        <div class="frame active">
                            <div class="heading">New Medical Event</div>
                            <div class="content">
                                <div class="p-2">
                                    <input type="hidden" asp-for="EmployeeId" />

                                    <div class="row mb-3">
                                        <label class="text-small text-bold cell-sm-1">Employee Name</label>
                                        <div class="cell-sm-4">

                                            <select asp-for="EmployeeId" class="rounded" data-role="select" asp-items="Model.Employees">
                                                <option disabled value=""></option>
                                            </select>
                                            <span class="text-small fg-red" asp-validation-for="EmployeeId"></span>


                                        </div>
                                        <div class="cell-sm-1"></div>


                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="mb-3" data-role="accordion"
                         data-one-frame="false"
                         data-show-active="true">

                        <div class="frame active">
                            <div class="heading">Medical Event Details</div>
                            <div class="content">
                                <div class="p-2">

                                    <div class="row mb-3">
                                        <label class="text-small text-bold cell-sm-1">Date of visit</label>
                                        <div class="cell-sm-4">
                                            <input type="text" asp-for="MedDate" data-role="calendarpicker" class="form-control rounded" data-cls-calendar="compact">

                                        </div>
                                        <div class="cell-sm-1"></div>
                                        <label class="text-small text-bold cell-sm-1">Medical Hospital</label>
                                        <div class="cell-sm-4">
                                            <input data-role="input" data-prepend="<span class='mif-pencil'></span>" class="form-control rounded" type="text" asp-for="MedHospital" />

                                        </div>

                                    </div>

                                    <div class="row mb-3">
                                        <label class="text-small text-bold cell-sm-1">Treatment Description</label>
                                        <div class="cell-sm-4">
                                            <textarea asp-for="TreatDesc" class="metro-input rounded"></textarea>
                                        </div>
                                        <div class="cell-sm-1"></div>
                                        <label class="text-small text-bold cell-sm-1">Admitted?</label>
                                        <div class="cell-sm-4">
                                            <input id="isadmitted" type="checkbox" onchange="valueChanged()" asp-for="AdmType" data-role="switch" data-caption="">
                                        </div>

                                    </div>

                                    <div id="showadmissiondates" class="row mb-3">

                                        <label class="text-small text-bold cell-sm-1">Admission Date</label>
                                        <div class="cell-sm-4">
                                            <input type="text" asp-for="StartDate" data-role="calendarpicker" class="form-control rounded" data-cls-calendar="compact">

                                        </div>
                                        <div class=" cell-sm-1"></div>
                                        <label class="text-small text-bold cell-sm-1">Discharge Date</label>
                                        <div class="cell-sm-4">
                                            <input type="text" asp-for="EndDate" data-role="calendarpicker" class="form-control rounded" data-cls-calendar="compact">

                                        </div>

                                    </div>

                                </div>






                            </div>
                        </div>
                    </div>

                    <div class="mb-3" data-role="accordion"
                         data-one-frame="false"
                         data-show-active="true">

                        <div class="frame active">
                            <div class="heading">Cost Details</div>
                            <div class="content">
                                <div class="p-2">

                                    <div class="row mb-3">
                                        <label class="text-small text-bold cell-sm-1">Medical Limits</label>
                                        <div class="cell-sm-4">
                                            <input data-role="input" data-prepend="₦" class="form-control rounded" type="text" asp-for="MedicalLimit" disabled />

                                        </div>
                                        <div class="cell-sm-1"></div>
                                        <label class="text-small text-bold cell-sm-1">Balance</label>
                                        <div class="cell-sm-4">
                                            <input data-role="input" data-prepend="₦" class="form-control rounded" type="text" asp-for="LimitBalance" disabled />

                                        </div>

                                    </div>

                                    <div class="row mb-3">
                                        <label class="text-small text-bold cell-sm-1">Medical Cost</label>
                                        <div class="cell-sm-4">
                                            <input data-role="input" data-prepend="₦" class="form-control rounded" type="text" asp-for="MedicalCost" />
                                        </div>
                                        <div class="cell-sm-1"></div>
                                        <label class="text-small text-bold cell-sm-1">Remarks</label>
                                        <div class="cell-sm-4">
                                            <input data-role="input" data-prepend="₦" class="form-control rounded" type="text" asp-for="MedicalCost" disabled />
                                        </div>

                                    </div>

                                    

                                </div>






                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-center">
                            <span class="">
                                <a class="button alert" onclick="goBack()">Cancel</a>  <button type="submit" class="button primary" asp-page-handler="Save">
                                    <i class="fas fa-save"></i> Submit
                                </button>
                            </span>

                        </div>

                    </div>



                </div>

                <div>


                </div>

            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    //show admission date if employee was admitted
    $(document).ready(function () {
        if ($('#isadmitted').is(":checked"))
            $("#showadmissiondates").show();
        else
            $("#showadmissiondates").hide();
    });

    function valueChanged() {
        if ($('#isadmitted').is(":checked"))
            $("#showadmissiondates").show();
        else
            $("#showadmissiondates").hide();
    }
</script>
