﻿@page
@model Plumbago_Brokerage.Pages.HumanResources.LeaveRequestsModel
@{
}
<div class="container-fluid">
    <div>
        <h3>
            Leave Requests Activities
        </h3>

    </div>

    <hr />
</div>


<form method="post">
    <div class="border-none" data-cls-panel="rounded" data-role="panel">

        <partial name="SearchFilterArea" model="Model.Searchfilter" />
        <partial name="TableAreaPartial" model="Model.TableList" />


        <a class="button primary showloading" href="/HumanResources/EmployeeMedicalProcessing_Edit"> Create New</a>

        <button type="submit" class="button showloading success" asp-page-handler="Approve"><i class="fas fa-check"></i> Approve</button>
       
        <button type="submit" class="button showloading alert" asp-page-handler="Delete"><i class="fas fa-trash"></i> Delete</button>
    </div>
</form>