﻿@page
@model Plumbago_Brokerage.Pages.HumanResources.LoanRequestsProcessing_EditModel
@{
}
<div class="container-fluid">
    <div>
        <h3>
            @Model.EditModel.PageTitle
        </h3>

    </div>
    <hr />
    @if (Model.EditModel.ErrMsg != null)
    {
        ViewData["message"] = Model.EditModel.ErrMsg;
        ViewData["type"] = Model.EditModel.ErrMsgType;
        <partial name="_messagepanelPartial" />
    }
</div>
<partial name="TopTabs" model="Model.EditModel" />

<div class="border-none" data-cls-panel="rounded" data-role="panel">
    <form id="myform" method="post">


        <div class="container-fluid">
            <div class="row">
                <div class="cell-12">
                    <div class="">
                        <div data-role="accordion"
                             data-one-frame="false"
                             data-show-active="true">

                            <div class="frame active">
                                <div class="heading">Loan Request</div>
                                <div class="content">
                                    <div class="p-2">
                                        <input type="hidden" asp-for="LoanId" />
                                     

                                        <div class="row mb-3">
                                            <label class="text-small text-bold cell-sm-1">Loan Type</label>
                                            <div class="cell-sm-4">

                                                <select id="loanname" name="LoanName" asp-for="LoanName" class="rounded" data-role="select" asp-items="Model.LoanTypes">
                                                    <option disabled value="">- select -</option>
                                                </select>


                                            </div>
                                            <div class="cell-sm-1"></div>
                                            <label class="text-small text-bold cell-sm-1">Loan Amount</label>
                                            <div class="cell-sm-4">
                                                <input id="loanamount" data-role="input" data-prepend="₦" class="form-control rounded" type="text" asp-for="Amount" />
                                                <span class="text-small fg-red" asp-validation-for="Amount"></span>
                                            </div>

                                        </div>

                                        <div class="row mb-3">

                                            <label class="text-small text-bold cell-sm-1">Start Date</label>
                                            <div class="cell-sm-4">

                                                <input id="startdate" type="text" asp-for="StartDate" data-role="calendarpicker" class="form-control rounded" data-cls-calendar="compact">
                                                <span class="text-small fg-red" asp-validation-for="StartDate"></span>

                                            </div>
                                            <div class="cell-sm-1"></div>
                                            <label class="text-small text-bold cell-sm-1">Due Date</label>
                                            <div class="cell-sm-4">

                                                <input id="duedate" type="text" asp-for="DueDate" data-role="calendarpicker" class="form-control rounded" data-cls-calendar="compact" disabled>

                                            </div>
                                        </div>

                                        <div class="row mb-3">

                                            <label class="text-small text-bold cell-sm-1">Duration</label>
                                            <div class="cell-sm-4">
                                                <select id="duration" name="Duration" asp-for="Duration" class="rounded" data-role="select" asp-items="Model.LoanDuration">
                                                    <option disabled value="">- select -</option>
                                                </select>


                                            </div>
                                            <div class="cell-sm-1"></div>
                                            <label class="text-small text-bold cell-sm-1">Interest Rate</label>
                                            <div class="cell-sm-4">

                                                <input id="interestrate" data-role="input" data-prepend="₦" class="form-control rounded" type="text" asp-for="InterestRate" disabled />

                                            </div>
                                        </div>

                                        <div class="row mb-3">

                                            <label class="text-small text-bold cell-sm-1">Accrued Interest</label>
                                            <div class="cell-sm-4">
                                                <input id="acrruedinterest" data-role="input" data-prepend="₦" class="form-control rounded" type="text" asp-for="IntAmt" disabled />

                                            </div>
                                            <div class="cell-sm-1"></div>
                                            <label class="text-small text-bold cell-sm-1">Total Amount Due</label>
                                            <div class="cell-sm-4">

                                                <input id="totalamountdue" data-role="input" data-prepend="₦" class="form-control rounded" type="text" asp-for="TotalAmtDue" disabled />  <button asp-page-handler="Calculate" type="submit" id="calculate" class="button small primary"> <i class="mif-calculator"></i> Calculate </button>

                                            </div>

                                        </div>



                                        <div class="row mb-3">
                                            <table data-cls-table-top="row flex-nowrap" data-cls-search="cell-md-8" class="table striped rounded row-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="text-small text-bold">#SN</th>

                                                        <th class="text-small text-bold">Loan Type</th>
                                                        <th class="text-small text-bold">NetLoan Amt</th>
                                                        <th class="text-small text-bold">Interest Amt</th>
                                                        <th class="text-small text-bold">Monthly Amt</th>
                                                        <th class="text-small text-bold">Net Amt</th>
                                                        <th class="text-small text-bold">Period</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.loandetails != null)
                                                    {
                                                        for (int i = 0; i < Model.loandetails.Count; i++)
                                                        {
                                                            <tr>
                                                                <td>@Model.loandetails[i].Sn</td>
                                                                <td>@Model.LoanName</td>
                                                                <td>@Model.loandetails[i].NetLoanAmt</td>
                                                                <td>@Model.loandetails[i].IntAmt</td>
                                                                <td>@Model.loandetails[i].MonthLoanAmt</td>
                                                                <td>@Model.loandetails[i].NetAmount</td>
                                                                <td>@Model.loandetails[i].Period</td>


                                                            </tr>
                                                            <tr hidden="hidden">
                                                                <td><input data-role="input" asp-for="@Model.loandetails[i].Sn" hidden="hidden"></td>
                                                                <td> <input data-role="input" asp-for="@Model.LoanName" hidden="hidden"></td>
                                                                <td>             <input data-role="input" asp-for="@Model.loandetails[i].NetLoanAmt" hidden="hidden"></td>
                                                                <td>   <input data-role="input" asp-for="@Model.loandetails[i].IntAmt" hidden="hidden"></td>
                                                                <td> <input data-role="input" asp-for="@Model.loandetails[i].MonthLoanAmt" hidden="hidden"></td>
                                                                <td> <input data-role="input" asp-for="@Model.loandetails[i].NetAmount" hidden="hidden"></td>
                                                                <td>  <input data-role="input" asp-for="@Model.loandetails[i].Period" hidden="hidden"></td>

                                                            </tr>
                                                        }

                                                    }

                                                </tbody>
                                                <tfoot>

                                                </tfoot>
                                            </table>
                                        </div>

                                    </div>






                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        @if (Model.LoanId > 0)
                        {
                            <div class="text-center">
                                <span class="">
                                    <a class="button alert" onclick="goBack()">Cancel</a>  <button type="submit" disabled class="button primary" asp-page-handler="Save"> <i class="fas fa-save"></i> Submit </button>
                                </span>

                            </div>
                        }
                        else
                        {
                            <div class="text-center">
                                <span class="">
                                    <a class="button alert" onclick="goBack()">Cancel</a>  <button type="submit" class="button primary" asp-page-handler="Save"> <i class="fas fa-save"></i> Submit </button>
                                </span>

                            </div>
                        }



                    </div>
                </div>


            </div>

            <div>


            </div>

        </div>
    </form>

</div>