﻿@page
@model Plumbago_Brokerage.Pages.HumanResources.Qualifications_EditModel
@{
}

<div class="container-fluid">
    <div>
        <h3>
            @Model.EditModel.PageTitle
        </h3>

    </div>
    <hr />
    @if (Model.EditModel.ErrMsg != null)
    {
        ViewData["message"] = Model.EditModel.ErrMsg;
        ViewData["type"] = Model.EditModel.ErrMsgType;
        <partial name="_messagepanelPartial" />
    }
</div>
<partial name="TopTabs" model="Model.EditModel" />

<div class="border-none" data-cls-panel="rounded" data-role="panel">
    <form id="myform" method="post">


        <div class="container-fluid">
            <div class="row">
                <div class="cell-12">

                    <div class="mb-3" data-role="accordion"
                         data-one-frame="false"
                         data-show-active="true">

                        <div class="frame active">
                            <div class="heading">Employee Details</div>
                            <div class="content">
                                <div class="p-2">
                                    <input type="hidden" asp-for="EmployeeNo" />


                                    <div class="row mb-3">
                                        <label class="text-small text-bold cell-sm-1">Employee No</label>
                                        <div class="cell-sm-4">

                                            <input data-role="input" data-prepend="<span class='mif-user'></span>" class="form-control text-small rounded" type="text" asp-for="EmployeeNo" disabled />

                                        </div>
                                        <div class="cell-sm-1"></div>
                                        <label class="text-small text-bold cell-sm-1">School Attended</label>
                                        <div class="cell-sm-4">
                                            <input id="" data-role="input" data-prepend="<span class='mif-user'></span>" class="form-control rounded" type="text" asp-for="SchoolAttend" />

                                        </div>

                                    </div>
                                    <div class="row mb-3">
                                        <label class="text-small text-bold cell-sm-1">From</label>
                                        <div class="cell-sm-4">

                                            <input type="text" asp-for="Dfrom" data-role="calendarpicker" class="form-control rounded" data-cls-calendar="compact">

                                        </div>
                                        <div class="cell-sm-1"></div>
                                        <label class="text-small text-bold cell-sm-1">To</label>
                                        <div class="cell-sm-4">
                                            <input type="text" asp-for="Dto" data-role="calendarpicker" class="form-control rounded" data-cls-calendar="compact">

                                        </div>

                                    </div>

                                    <div class="row mb-3">

                                        <label class="text-small text-bold cell-sm-1">Certficate Obtained</label>
                                        <div class="cell-sm-4">

                                            <select asp-for="CertObtained" asp-items="Model.Certs" class="rounded text-small" data-role="select">
                                                <option disabled value="">- select -</option>

                                            </select>

                                        </div>
                                        <div class="cell-sm-1"></div>
                                        <label class="text-small text-bold cell-sm-1">Comments</label>
                                        <div class="cell-sm-4">

                                            <textarea asp-for="Comment" class="metro-input rounded"></textarea>

                                        </div>
                                    </div>

                                    <div class="form-group">

                                        <div class="text-center">
                                            <span class="">
                                                <a class="button primary showloading" href="/HumanResources/Qualifications_Edit?id=@Model.EmployeeNo"> New Qualification</a>   <a class="button alert" onclick="goBack()">Cancel</a>  <button type="submit" class="button primary" asp-page-handler="Save"> <i class="fas fa-save"></i> Submit </button>
                                            </span>

                                        </div>


                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="mb-3" data-role="accordion"
                         data-one-frame="false"
                         data-show-active="true">

                        <div class="frame active">
                            <div class="heading">Qualifications</div>
                            <div class="content">
                                <div class="p-2">
                            
                                    <div class="row mb-3">
                                        <div class="cell-sm-12">
                                            <partial name="TableAreaPartial" model="Model.TableList" />
                                        </div>
                                      
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                   
                </div>


            </div>

            <div>


            </div>

        </div>
    </form>

</div>