﻿@page
@model Plumbago_Brokerage.Pages.Welcome.DashboardModel
@{
}
<style>

    #chart {
        max-width: 650px;
        margin: 35px auto;
    }
</style>

<script>
    // Replace Math.random() with a pseudo-random number generator to get reproducible results in e2e tests
    // Based on https://gist.github.com/blixt/f17b47c62508be59987b
    var _seed = 42;
    Math.random = function () {
        _seed = _seed * 16807 % 2147483647;
        return (_seed - 1) / 2147483646;
    };</script>


<div class="container-fluid">
    <div class="row pb-4">


        <div class="cell-md-12">
            <div class="row">
                <div class="cell-md-3">
                    <div class="bg-blue rounded py-3 fg-white" data-role="panel">
                        <h5 class="text-left text-leader">Total Employees</h5>
                        <h2 class="text-right text-bold">90</h2>
                    </div>
                </div>
                <div class="cell-md-3">
                    <div class="bg-orange rounded py-3 fg-white" data-role="panel">
                        <h5 class="text-left text-leader">Total Department</h5>
                        <h2 class="text-right text-bold">2l</h2>
                    </div>
                </div>
                <div class="cell-md-3">
                    <div class="bg-darkCobalt rounded py-3 fg-white" data-role="panel">
                        <h5 class="text-left text-leader">Total Branches</h5>
                        <h2 class="text-right text-bold">3</h2>
                    </div>
                </div>
                <div class="cell-md-3">
                    <div class="bg-red rounded py-3 fg-white" data-role="panel">
                        <h5 class="text-left text-leader">On Leave Today</h5>
                        <h2 class="text-right text-bold">4</h2>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>


<div class="row mb-3">
    <div class="cell-md-6">

        <div class="info-panel rounded no-overflow shadow-3">
            <div class="info-panel-content text-left-sm">
                <div id="reimbursements"></div>
                <script>

                    var options = {
                        series: [{
                            name: "Employees",
                            data: [10, 41, 35, 51, 49, 62, 69, 91, 148]
                        }],
                        chart: {
                            height: 350,
                            type: 'line',
                            zoom: {
                                enabled: false
                            }
                        },
                        dataLabels: {
                            enabled: false
                        },
                        stroke: {
                            curve: 'straight'
                        },
                        title: {
                            text: 'Number of Employees by Month',
                            align: 'left'
                        },
                        grid: {
                            row: {
                                colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                                opacity: 0.5
                            },
                        },
                        xaxis: {
                            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep'],
                        }
                    };

                    var chart = new ApexCharts(document.querySelector("#reimbursements"), options);
                    chart.render();


                </script>
            </div>
        </div>

    </div>

    <div class="cell-md-6">
        <div class="info-panel rounded no-overflow shadow-3">
            <div class="info-panel-content text-left-sm">
                <div id="employee"></div>
                <script>

                    var options = {
                        series: [{
                            name: "Employees",
                            data: [10, 41, 35, 51, 49, 62, 69, 91, 148]
                        }],
                        chart: {
                            height: 350,
                            type: 'line',
                            zoom: {
                                enabled: false
                            }
                        },
                        dataLabels: {
                            enabled: false
                        },
                        stroke: {
                            curve: 'straight'
                        },
                        title: {
                            text: 'Number of Employees by Month',
                            align: 'left'
                        },
                        grid: {
                            row: {
                                colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                                opacity: 0.5
                            },
                        },
                        xaxis: {
                            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep'],
                        }
                    };

                    var chart = new ApexCharts(document.querySelector("#employee"), options);
                    chart.render();


                </script>
            </div>
        </div>
    </div>
</div>


<div class="row mb-3">
    <div class="cell-md-6">
        <div class="info-panel rounded no-overflow shadow-3">
            <div class="info-panel-content text-left-sm">
                <div id="leave"></div>
                <script>

                    var options = {
                        series: [{
                            name: 'No of Leave',
                            data: [3, 4, 8, 1, 7, 6, 8, 2, 10]
                        }],
                        chart: {
                            type: 'bar',
                            height: 350
                        },
                        plotOptions: {
                            bar: {
                                horizontal: false,
                                columnWidth: '55%',
                                endingShape: 'rounded'
                            },
                        },
                        dataLabels: {
                            enabled: false
                        },
                        stroke: {
                            show: true,
                            width: 2,
                            colors: ['transparent']
                        },
                        xaxis: {
                            categories: ['Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct'],
                        },
                        yaxis: {
                            title: {
                                text: 'Total Number'
                            }
                        },
                        fill: {
                            opacity: 1
                        },
                        tooltip: {
                            y: {
                                formatter: function (val) {
                                    return "" + val + ""
                                }
                            }
                        },
                        title: {
                            text: 'Leave Absence By Month',
                            align: 'left',
                            style: {
                                fontSize: '18px'
                            }
                        }
                    };

                    var chart = new ApexCharts(document.querySelector("#leave"), options);
                    chart.render();

                </script>
            </div>
        </div>
    </div>
    <div class="cell-md-6">

        <div class="info-panel rounded no-overflow shadow-3">
            <div class="info-panel-content text-left-sm">
                <div id="Department"></div>
                <script>

                    var options = {
                        series: [44, 55, 13, 33],
                        chart: {
                            width: 380,
                            type: 'donut',
                        },
                        dataLabels: {
                            enabled: false
                        },
                        responsive: [{
                            breakpoint: 480,
                            options: {
                                chart: {
                                    width: 200
                                },
                                legend: {
                                    show: false
                                }
                            }
                        }],
                        legend: {
                            position: 'right',
                            offsetY: 0,
                            height: 230,
                        },
                        title: {
                            text: 'Employees by department',
                            align: 'left',
                            style: {
                                fontSize: '18px'
                            }
                        }
                    };

                    var chart = new ApexCharts(document.querySelector("#Department"), options);
                    chart.render();

                </script>
            </div>
        </div>

    </div>


</div>
