﻿@page
@model Plumbago_Brokerage.Pages.Welcome.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>


<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
    <link href="css/site.css" rel="stylesheet" />
    <link href="css/toastr.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


    <style>
        .login-form {
            width: 400px;
            height: auto;
            top: 40%;
            margin-top: -160px;
        }
    </style>
</head>
<body>

    <div data-role="appbar" class="bg-darkCobalt shadow-2 fg-white" data-expand-point="lg">

        <a href="/" class="brand no-hover">
            <img src="~/images/hrlogo.png" style="height: 28px;"> Plumbago HR
        </a>
        <ul class="app-bar-menu">
        </ul>





    </div>

    <div class="row">
        <div style="min-height: 100vh; background-color: #f4fafd !important" class="cell-md-6">
            <div class="login-form rounded mx-auto p-6">
                <h4 class="header-color text-center">   <img src="~/images/hrlogo.png" style="height: 28px;"> Welcome to Plumbago HRMS!</h4>

                @if (Model.ErrMsg != null)
                {
                    ViewData["message"] = Model.ErrMsg;
                    ViewData["type"] = Model.ErrMsgType;
                    <partial name="_messagepanelPartial" />
                }


                <form id="myform" method="post">

                    <div class="form-group">
                        <input data-role="input" data-prepend="<span class='mif-user'></span>" placeholder="Enter your Username..." class="form-control rounded" asp-for="Username" />
                        <span class="text-small fg-red" asp-validation-for="Username"></span>
                    </div>
                    <div class="form-group">
                        <input data-role="input" type="password" data-prepend="<span class='mif-key'></span>" placeholder="Enter your Password..." class="form-control rounded" asp-for="Password" />
                        <span class="text-small fg-red" asp-validation-for="Password"></span>
                    </div>
                    <div class="form-group text-center">
                        <small><a class="fg-blue" href="/Welcome/ForgotPassword">Forgot Password?</a></small>
                    </div>
                    <div class="form-group mt-10">
                        <input type="checkbox" data-role="checkbox" data-caption="Remember me" class="place-right">
                        <input type="submit" class="button primary rounded" value="Submit">
                    </div>
                </form>


            </div>
        </div>
        <div style="min-height: 100vh;" class="cell-md-6">
            <div>
                <img src="~/images/HR.jpg" style="display: block;
        max-width: 100%;
        height: auto;
        padding: 160px 120px 20px 120px;
" alt="login image" class="mx-auto">

            </div>

        </div>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/metro.js"></script>
    <partial name="_ValidationScriptsPartial" />
    @* for progress loading *@
    <script>

        $("#myform").submit(function (event) {
            // Animate loader
            var isValid = $('#myform').valid();
            if (isValid) {
                // Animate loader
                //$("#progress").show();
                Metro.activity.open({
                    type: 'cycle'
                    //overlayColor: '#fff',
                    //overlayAlpha: 1
                });
            }
        });

    </script>

</body>
</html>