﻿@page
@model Plumbago_Brokerage.Pages.GeneralSettings.AllowanceRates_EditModel
@{
}
@using Plumbago_Brokerage.Data.Global
@inject ModMain modmain
<div class="container-fluid">
    <div>
        <h3>
            @Model.EditModel.PageTitle
        </h3>

    </div>
    <hr />
    @if (Model.ErrMsg != null)
    {
        ViewData["message"] = Model.ErrMsg;
        ViewData["type"] = Model.ErrMsgType;
        <partial name="_messagepanelPartial" />
    }

</div>

<div class="border-none" data-cls-panel="rounded" data-role="panel">
    <form id="myform" method="post">


        <div class="container-fluid">
            <div class="row">
                <div class="cell-12">
                    <div class="">
                        <div data-role="accordion"
                             data-one-frame="false"
                             data-show-active="true">

                            <div class="frame active">
                                <div class="heading">Allowance Rates</div>
                                <div class="content">
                                    <div class="p-2">
                                        <input type="hidden" asp-for="Hid" />


                                        <div class="row mb-3">
                                            <label class="text-small text-bold cell-sm-1">PaySheet Group</label>
                                            <div class="cell-sm-4">

                                                <select asp-for="SheetId" class="rounded" data-role="select" asp-items="Model.Paysheets">
                                                    <option disabled value="">- select -</option>
                                                </select>


                                            </div>
                                            <div class="cell-sm-1"></div>
                                            <label class="text-small text-bold cell-sm-1">Allowance Name</label>
                                            <div class="cell-sm-4">
                                                <select asp-for="AllowId" class="rounded" data-role="select" asp-items="Model.Allowances">
                                                    <option disabled value="">- select -</option>
                                                </select>
                                            </div>

                                        </div>

                                        <div class="row mb-3">

                                            <label class="text-small text-bold cell-sm-1">Rate Type</label>
                                            <div class="cell-sm-4">

                                                <select asp-for="RateType" class="rounded" data-role="select">
                                                    <option disabled value="">- select -</option>
                                                    <option value="Fixed">Fixed</option>
                                                    <option value="Percentage">Percentage</option>

                                                </select>
                                            </div>
                                            <div class="cell-sm-1"></div>
                                            <label class="text-small text-bold cell-sm-1">Amount</label>
                                            <div class="cell-sm-4">

                                                <input data-cls-input="txtallowance" class="rounded" data-role="input" asp-for="Value1" data-prepend="₦" type="text" />

                                            </div>
                                        </div>

                                        <div class="row mb-5">
                                            <div class="table-container rounded">
                                                <table data-cls-table-top="row flex-nowrap" data-cls-search="cell-md-8" data-role="table" data-check="true" class="table striped rounded row-hover" data-check-name="SelectedIDs" data-check-col-index="0">
                                                    <thead>
                                                        <tr>
                                                            <th>#ID</th>
                                                            <th>Allowance Name</th>
                                                            <th>Paysheet</th>
                                                            <th>Submitted On</th>
                                                            <th></th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        @foreach (var emp in Model.PayAllowances)
                                                        {
                                                            <tr>
                                                                <td>@emp.Hid</td>
                                                                <td>@emp.AllowName</td>
                                                                <td>@emp.Sheet</td>
                                                                <td>@modmain.FormatDate(emp.SubmitOn.Value)</td>

                                                            </tr>
                                                        }
                                                    </tbody>

                                                </table>

                                            </div>
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">

                        <div class="text-center">
                            <span class="">
                                <a class="button alert" onclick="goBack()">Cancel</a>  <button type="submit" class="button primary" asp-page-handler="SaveAndAddNew"> <i class="fas fa-save"></i> Save and Add New </button> <button type="submit" class="button primary" asp-page-handler="Submit"> <i class="fas fa-save"></i> Submit </button>
                            </span>

                        </div>


                    </div>
                </div>


            </div>

            <div>


            </div>

        </div>
    </form>

</div>