﻿@page
@model Plumbago_Brokerage.Pages.GeneralSettings.AllowanceRatesModel
@{
}
<div class="container-fluid">
    <div>
        <h3>
           Paysheet Allowance Rates
        </h3>

    </div>

    <hr />
</div>


<form method="post">
    <div class="border-none" data-cls-panel="rounded" data-role="panel">

        <partial name="SearchFilterArea" model="Model.Searchfilter" />
        <partial name="TableAreaPartial" model="Model.TableList" />

        <a class="button primary small showloading" href="/GeneralSettings/AllowanceRates_Edit"> Create New</a>

        <button type="submit" class="button showloading small alert" asp-page-handler="Delete"><i class="fas fa-trash"></i> Delete</button>
    </div>
</form>
