﻿@page
@model Plumbago_Brokerage.Pages.GeneralSettings.DeductionRates_EditModel
@{
}
<div class="container-fluid">
    <div>
        <h3>
            @Model.EditModel.PageTitle
        </h3>

    </div>
    <hr />
    @if (Model.ErrMsg != null)
    {
        ViewData["message"] = Model.ErrMsg;
        ViewData["type"] = Model.ErrMsgType;
        <partial name="_messagepanelPartial" />
    }

</div>

<div class="border-none" data-cls-panel="rounded" data-role="panel">
    <form id="myform" method="post">


        <div class="container-fluid">
            <div class="row">
                <div class="cell-12">
                    <div class="">
                        <div data-role="accordion"
                             data-one-frame="false"
                             data-show-active="true">

                            <div class="frame active">
                                <div class="heading">Deduction Rates</div>
                                <div class="content">
                                    <div class="p-2">
                                        <input type="hidden" asp-for="Hid" />


                                        <div class="row mb-3">
                                            <label class="text-small text-bold cell-sm-1">PaySheet Group</label>
                                            <div class="cell-sm-4">

                                                <select asp-for="SheetId" class="rounded" data-role="select" asp-items="Model.Paysheets">
                                                    <option disabled value="">- select -</option>
                                                </select>


                                            </div>
                                            <div class="cell-sm-1"></div>
                                            <label class="text-small text-bold cell-sm-1">Deduction Name</label>
                                            <div class="cell-sm-4">
                                                <select asp-for="DedId" class="rounded" data-role="select" asp-items="Model.Deductions">
                                                    <option disabled value="">- select -</option>
                                                </select>
                                            </div>

                                        </div>

                                        <div class="row mb-3">

                                            <label class="text-small text-bold cell-sm-1">Rate Type</label>
                                            <div class="cell-sm-4">

                                                <select asp-for="RateType" class="rounded" data-role="select">
                                                    <option disabled value="">- select -</option>
                                                    <option value="Fixed">Fixed</option>
                                                    <option value="Percentage">Percentage</option>

                                                </select>
                                            </div>
                                            <div class="cell-sm-1"></div>
                                            <label class="text-small text-bold cell-sm-1">Amount</label>
                                            <div class="cell-sm-4">

                                                <input data-cls-input="txtallowance" class="rounded" data-role="input" asp-for="Value1" data-prepend="₦" type="text" />

                                            </div>
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">

                        <div class="text-center">
                            <span class="">
                                <a class="button alert" onclick="goBack()">Cancel</a>  <button type="submit" class="button primary" asp-page-handler="Save"> <i class="fas fa-save"></i> Submit </button>
                            </span>

                        </div>


                    </div>
                </div>


            </div>

            <div>


            </div>

        </div>
    </form>

</div>