﻿@page
@model Plumbago_Brokerage.Pages.GeneralSettings.Users_editModel

@{
    ViewData["Title"] = "User Edit";
}
<div class="container-fluid">
    <div>
        <h3>
            @ViewData["pagetitle"]
        </h3>

    </div>
    <hr />
    @if (Model.ErrMsg != null)
    {
        ViewData["message"] = Model.ErrMsg;
        ViewData["type"] = Model.ErrMsgType;
        <partial name="_messagepanelPartial" />
    }
</div>

<div class="border-none" data-cls-panel="rounded" data-role="panel">
    <form id="myform" method="post">
        <div class="container-fluid">
            <div class="row">
                <div class="cell-12">
                    <div class="">
                        <div data-role="accordion"
                             data-one-frame="false"
                             data-show-active="true">

                            <div class="frame active">
                                <div class="heading">User Information</div>
                                <div class="content">
                                    <div class="p-2">
                                        <input type="hidden" asp-for="UserId" />
                                   
                                            <div class="row mb-3">
                                                        <label class="text-bold cell-sm-1">Username</label>                                                
                                                    <div class="cell-sm-4">

                                                        <input data-role="input" data-prepend="<span class='mif-user'></span>" class="form-control rounded" type="text" asp-for="Username" />
                                                        <span class="text-small fg-red" asp-validation-for="Username"></span>

                                                    </div>
                                                <div class="cell-sm-1"></div>
                                                            <label class="text-bold cell-sm-1">Password</label>
                                                    <div class="cell-sm-4">
                                                        <div class="form-group">
                                                            <input data-role="input" type="password" value="@Model.Password" data-prepend="<span class='mif-key'></span>" class="form-control rounded" asp-for="Password" />
                                                            <span class="text-small fg-red" asp-validation-for="Password"></span>
                                                        </div>
                                                    </div>
                                           
                                            </div>
                                           
                                            <div class="row mb-3">
                                                <label class="text-bold cell-sm-1">Confirm Password</label>

                                                <div class="cell-sm-4">

                                                    <input data-role="input" value="@Model.ConfirmPassword" data-prepend="<span class='mif-key'></span>" class="form-control rounded" type="password" asp-for="ConfirmPassword" />
                                                    <span class="text-small fg-red" asp-validation-for="ConfirmPassword"></span>

                                                </div>
                                                <div class="cell-sm-1"></div>

                                                    <label class="text-bold cell-sm-1">Password Expiry</label>
                                                    <div class="cell-sm-4">
                                                        <input type="text" asp-for="PwdExpiry" data-role="calendarpicker" class="form-control rounded" data-cls-calendar="compact">
                                                        <span class="text-small fg-red" asp-validation-for="PwdExpiry"></span>
                                                    </div>

                                                </div>

                                            <div class="row mb-3">
                                                <label class="text-bold cell-sm-1">Firstname</label>
                                                <div class="cell-sm-4">
                                                    <input data-role="input" data-prepend="<span class='mif-user'></span>" class="form-control rounded" type="text" asp-for="FirstName" />
                                                    <span class="text-small fg-red" asp-validation-for="FirstName"></span>
                                                </div>
                                                <div class="cell-sm-1"></div>


                                                <label class="text-bold cell-sm-1">Lastname</label>
                                                <div class="cell-sm-4">
                                                    <input data-role="input" data-prepend="<span class='mif-user'></span>" class="form-control rounded" type="text" asp-for="LastName" />
                                                    <span class="text-small fg-red" asp-validation-for="LastName"></span>

                                                    </div>

                                                </div>

                                            <div class="row mb-3">
                                         

                                                    <label class="text-bold cell-sm-1">Email</label>
                                                    <div class="cell-sm-4">
                                                        <input data-role="input" data-prepend="<span class='mif-mail'></span>" class="form-control rounded" type="text" asp-for="Email" />
                                                        <span class="text-small fg-red" asp-validation-for="Email"></span>
                                                    </div>
                                      
                                                <div class="cell-sm-1"></div>

                                                    <label class="text-bold cell-sm-1">Address</label>
                                                    <div class="cell-sm-4">
                                                        <textarea asp-for="Address" class=metro-input></textarea>
                                                        <span class="text-small fg-red" asp-validation-for="Address"></span>
                                                    </div>



                                                </div>
                                            <div class="row mb-3">


                                                <label class="text-bold cell-sm-1">Phone</label>
                                                <div class="cell-sm-4">
                                                    <input data-role="input" data-prepend="<span class='mif-phone'></span>" class="form-control rounded" type="text" asp-for="Phone" />
                                                    <span class="text-small fg-red" asp-validation-for="Phone"></span>
                                                </div>

                                                <div class="cell-sm-1"></div>
                                                   

                                                </div>

                                                <div class="row mb-3">


                                                    <label class="text-bold cell-sm-1">Security Question</label>
                                                    <div class="cell-sm-4">
                                                        <input data-role="input" data-prepend="<span class='mif-key'></span>" class="form-control rounded" type="text" asp-for="SecQuestion" />
                                                        <span class="text-small fg-red" asp-validation-for="SecQuestion"></span>
                                                    </div>

                                                    <div class="cell-sm-1"></div>

                                                    <label class="text-bold cell-sm-1">Security Answer</label>
                                                    <div class="cell-sm-4">
                                                        <input data-role="input" data-prepend="<span class='mif-key'></span>" class="form-control rounded" type="text" asp-for="SecAnswer" />
                                                        <span class="text-small fg-red" asp-validation-for="SecAnswer"></span>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="form-group">

                                                        <input type="checkbox" asp-for="Active" data-role="switch" data-caption="Active" checked>
                                                    </div>
                                                </div>


                                            </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <div>
                                <a asp-page="Users">Back to List</a>
                            </div>
                            <div class="text-center">
                                <span class="">
                                    <button class="button alert" onclick="goBack()">Cancel</button>  <button type="submit" class="button primary" asp-page-handler="Save">
                                        <i class="fas fa-save"></i> Save
                                    </button>
                                </span>

                            </div>


                        </div>
                    </div>
                 

                </div>

                <div>


                </div>

            </div>
        </div>
    </form>
</div>
   
    
