﻿@page
@model Plumbago_Brokerage.Pages.GeneralSettings.UsersModel

@{
    ViewData["Title"] = "Users";
}

<div class="container-fluid">
    <div>
        <h3>
            Users
        </h3>

    </div>

    <hr />
</div>

<form method="post">
    <div class="border-none" data-cls-panel="rounded" data-role="panel">

        <partial name="SearchFilterArea" model="Model.Searchfilter" />
        <partial name="TableAreaPartial" model="Model.TableList" />
        <a class="button primary showloading" href="/Admin/Users_edit"> Create New</a>
    </div>
</form>

