﻿@model Plumbago_Brokerage.ViewComponents.NavbarModel

@using Plumbago_Brokerage.Data.Repository
@using Plumbago_Brokerage.Data.Global
@using Microsoft.AspNetCore.Http
@inject ModMain modmain
@inject RolesRepo rolesrepo
@inject IHttpContextAccessor HttpContextAccessor


@{
    var userid = HttpContextAccessor.HttpContext.Session.GetInt32("Curruserid");
    var Employee = modmain.GetEmployeeProfileById(HttpContextAccessor.HttpContext.Session.GetString("Employeeid"));
    var username = HttpContextAccessor.HttpContext.Session.GetString("Curruser");
    var pagepath = Context.Request.Path.ToString();
}
<div data-role="appbar" class="bg-darkCobalt shadow-2 fg-white" data-expand-point="lg">

    <a href="/" class="brand no-hover">
        <img src="~/images/hrlogo.png" style="height: 28px;"> Plumbago HRMS
    </a>


    <ul class="app-bar-menu">

        @if (rolesrepo.HasRole(rolesrepo.Admin, (long)userid))
        {
        <li><a class="showloading" href="/Welcome/Dashboard"><i class="fas fa-dashboard"></i> Dashboard</a></li>
        }
        @if (rolesrepo.HasRole(rolesrepo.SelfService, (long)userid))
        {
        <li><a class="showloading" href="/SelfService/Home"><i class="fas fa-dashboard"></i> Home</a></li>
        }
        @if (rolesrepo.HasRole(rolesrepo.SelfService, (long)userid))
        {
        <li>
            <a href="Branch"><i class="fas fa-user-circle"></i> Self Service</a>
            <ul class="d-menu bg-white fg-black  border bd-gray rounded" data-role="dropdown">
                <li>
                    <a class="showloading" href="/SelfService/Personal_info">Personal Information</a>
                </li>
                <li>
                    <a class="dropdown-toggle" href="#">Leave</a>
                    <ul class="d-menu bg-white fg-black  border bd-gray rounded" data-role="dropdown">
                        <li><a class="showloading" href="/SelfService/Leave_request_edit">Request for leave</a></li>
                        <li><a class="showloading" href="/SelfService/Leave_requests">My Leave Requests</a></li>

                        <li><a class="showloading" href="/SelfService/Leave_balance">Leave Balance</a></li>
                    </ul>
                </li>

                <li>
                    <a class="dropdown-toggle" href="#">Loan</a>
                    <ul class="d-menu bg-white fg-black  border bd-gray rounded" data-role="dropdown">
                        <li><a class="showloading" href="/SelfService/Loan_request_edit">Request for Loan</a></li>
                        <li><a class="showloading" href="/SelfService/Loan_requests">My Loan Requests</a></li>
                    </ul>
                </li>

                <li>
                    <a class="dropdown-toggle" href="#">ReImbursements</a>
                    <ul class="d-menu bg-white fg-black  border bd-gray rounded" data-role="dropdown">
                        <li><a class="showloading" href="/SelfService/Reimbursement_edit">Create Reimbursement</a></li>
                        <li><a class="showloading" href="/SelfService/Reimbursements">My Reimbursements</a></li>

                    </ul>
                </li>


                <li>
                    <a class="dropdown-toggle" href="#">Appraisals</a>
                    <ul class="d-menu bg-white fg-black  border bd-gray rounded" data-role="dropdown">
                        <li><a class="showloading" href="/SelfService/SelfAppraisal_Edit">Raise an Appraisal Request</a></li>
                        <li><a class="showloading" href="/SelfService/SelfAppraisal">All Appraisal Requests</a></li>

                    </ul>
                </li>
                <li>
                    <a class="dropdown-toggle" href="#">Training Needs</a>
                    <ul class="d-menu bg-white fg-black  border bd-gray rounded" data-role="dropdown">
                        <li><a class="showloading" href="/SelfService/TrainingNeeds_Edit">Create Training Needs</a></li>
                        <li><a class="showloading" href="/SelfService/TrainingNeeds">All Training Needs</a></li>

                    </ul>
                </li>
                <li>
                    <a class="" href="/SelfService/PaySlips">Download Payslips</a>

                </li>
                <li>
                    <a class="dropdown-toggle" href="/SelfService/Data_change_requests">Data Change Requests</a>

                </li>

            </ul>
        </li>
        }

        @if (rolesrepo.HasRole(rolesrepo.HumanResources, (long)userid))
        {
        <li>
            <a class="dropdown-toggle" href="#"><i class="fas fa-user-circle"></i> Recruitment</a>
            <ul class="d-menu bg-white fg-black  border bd-gray rounded" data-role="dropdown">
                <li>
                    <a class="dropdown-toggle" href="#">Contracts</a>
                    <ul class="d-menu bg-white fg-black  border bd-gray rounded" data-role="dropdown">
                        <li><a class="showloading" href="/Recruitment/Create_contracts">Create Employee Letter</a></li>
                        <li><a class="showloading" href="/Recruitment/All_contracts">All Contracts/Letter</a></li>

                    </ul>
                </li>

                <li>
                    <a class="" href="/Recruitment/Issue_contract">Issue Employee Letter/Contract</a>

                </li>


            </ul>
        </li>
        }

        @if (rolesrepo.HasRole(rolesrepo.HumanResources, (long)userid))
        {
        <li>
            <a class="dropdown-toggle" href="#"><i class="fas fa-clinic-medical"></i> Human Resources</a>
            <ul class="d-menu bg-white fg-black  border bd-gray rounded" data-role="dropdown">
                <li>
                    <a class="dropdown-toggle" href="#">Employees</a>
                    <ul class="d-menu bg-white fg-black  border bd-gray rounded" data-role="dropdown">
                        <li><a class="showloading" href="/HumanResources/Employees">All Employees</a></li>
                        <li><a class="showloading" href="/HumanResources/EmployeePromotions">Employee Promotions</a></li>

                    </ul>
                </li>
                <li>
                    <a class="dropdown-toggle" href="#">Employee Appraisals</a>
                    <ul class="d-menu bg-white fg-black  border bd-gray rounded" data-role="dropdown">

                        <li><a class="showloading" href="/HumanResources/EmployeeAppraisals">Process Appraisal Requests</a></li>

                    </ul>
                </li>
                <li>
                    <a class="dropdown-toggle" href="#">Loan Management</a>
                    <ul class="d-menu bg-white fg-black  border bd-gray rounded" data-role="dropdown">
                        <li><a class="showloading" href="/HumanResources/LoanRequestsProcessing">Process Loan Requests</a></li>
                        <li><a href="/HumanResources/LoanHistory">Loan History</a></li>

                    </ul>
                </li>
                <li>
                    <a class="dropdown-toggle" href="#">Reimbursements & Expenses</a>
                    <ul class="d-menu bg-white fg-black  border bd-gray rounded" data-role="dropdown">
                        <li><a class="showloading" href="/HumanResources/ReimbursementRequests">Process Reimbursement Requests</a></li>

                    </ul>
                </li>
                <li>
                    <a class="dropdown-toggle" href="#">Leave Management</a>
                    <ul class="d-menu bg-white fg-black  border bd-gray rounded" data-role="dropdown">
                        <li><a class="showloading" href="/HumanResources/LeaveRequestsProcessing">Process Leave Requests</a></li>
                        <li><a class="showloading" href="/HumanResources/LeaveCalendar">Leave Calendar</a></li>

                    </ul>
                </li>

                <li>
                    <a class="dropdown-toggle" href="#">Medicals</a>
                    <ul class="d-menu bg-white fg-black  border bd-gray rounded" data-role="dropdown">
                        <li><a class="showloading" href="/HumanResources/EmployeeMedicalProcessing">Employee Medical Events</a></li>


                    </ul>
                </li>

                <li>
                    <a class="dropdown-toggle" href="#">Employee Training</a>
                    <ul class="d-menu bg-white fg-black  border bd-gray rounded" data-role="dropdown">
                        <li><a class="showloading" href="/HumanResources/EmployeeTrainingProcessing">Process Employee Training</a></li>


                    </ul>
                </li>


            </ul>
        </li>

        }

        @if (rolesrepo.HasRole(rolesrepo.HumanResources, (long)userid))
        {
        <li>
            <a class="dropdown-toggle" href="#"><i class="fas fa-user"></i> KPI Manager</a>
            <ul class="d-menu bg-white fg-black  border bd-gray rounded" data-role="dropdown">
                <li>
                    <a class="dropdown-toggle" href="#">Manage KPI</a>
                    <ul class="d-menu bg-white fg-black  border bd-gray rounded" data-role="dropdown">
                        <li><a class="showloading" href="/KPIManager/KPIs_Edit">Create KPI</a></li>
                        <li><a class="showloading" href="/KPIManager/KPIs">All KPIs</a></li>


                    </ul>
                </li>


                <li><a class="showloading" href="/KPIManager/IssueEmployeeKPI">Issue Employee KPI</a></li>

            </ul>
        </li>
        }


        @if (rolesrepo.HasRole(rolesrepo.Payroll, (long)userid))
        {
        <li>
            <a class="dropdown-toggle" href="#"><i class="fas fa-user-circle"></i> Payroll</a>
            <ul class="d-menu bg-white fg-black  border bd-gray rounded" data-role="dropdown">
                <li>
                    <a class="showloading" href="/Payroll/EmployeePayroll">New Employee Payroll</a>

                </li>
                <li>
                    <a class="showloading" href="/Payroll/BatchPayrollProcessing">Batch Payroll Processing</a>
                </li>
                <li>
                    <a class="showloading" href="/Payroll/SalaryReview">Salary Review</a>
                </li>
                <li>
                    <a class="showloading" href="/Payroll/EmployeePayrollDetails">Employee Payroll Details</a>

                </li>

                <li><a class="showloading" href="/Payroll/MonthlyVariance">Monthly Variance</a></li>

            </ul>
        </li>
        }

        @if (rolesrepo.HasRole(rolesrepo.Admin, (long)userid))
        {
        <li>
            <a class="dropdown-toggle" href="#"><i class="fas fa-user"></i> Administration</a>
            <ul class="d-menu bg-white fg-black  border bd-gray rounded" data-role="dropdown">
                <li>
                    <a class="dropdown-toggle" href="#">Admin Processes</a>
                    <ul class="d-menu bg-white fg-black  border bd-gray rounded" data-role="dropdown">
                        <li><a class="showloading" href="/KPIManager/KPIs_Edit">Process Reimbursement</a></li>
                        <li><a class="showloading" href="/KPIManager/KPIs">Process Medical Event</a></li>
                        <li><a class="showloading" href="/KPIManager/IssueEmployeeKPI">Raise Voucher</a></li>

                    </ul>
                </li>

                <li>
                    <a class="" href="/Recruitment/Issue_contract">Issue Contract</a>

                </li>


            </ul>
        </li>

        }


        @if (rolesrepo.HasRole(rolesrepo.Reports, (long)userid))
        {
        <li><a class="showloading" href="/Report/AllReports"><i class="fas fa-file-excel"></i> Reports</a></li>

        }



        @if (rolesrepo.HasRole(rolesrepo.GeneralSettings, (long)userid))
        {
        <li>
            <a class="dropdown-toggle" href="#"><i class="fas fa-user-cog"></i> General Settings</a>
            <ul class="d-menu bg-white fg-black  border bd-gray rounded" data-role="dropdown">
                <li>
                    <a class="dropdown-toggle" href="#">Employees Setups</a>
                    <ul class="d-menu bg-white fg-black  border bd-gray rounded" data-role="dropdown">
                        <li><a class="showloading" href="/Accounts/Asset_Purchases">Department</a></li>
                        <li><a class="showloading" href="/Accounts/Asset_Disposals">Units</a></li>
                        <li><a class="showloading" href="/Accounts/Asset_Disposals">Grade Level</a></li>
                        <li><a class="showloading" href="/Accounts/Asset_Disposals">Grade Steps</a></li>
                        <li><a class="showloading" href="/Accounts/Asset_Disposals">Training Cadres</a></li>

                    </ul>


                </li>
                <li>
                    <a class="dropdown-toggle" href="#">Payroll Setups</a>
                    <ul class="d-menu bg-white fg-black  border bd-gray rounded" data-role="dropdown">
                        <li><a class="showloading" href="/GeneralSettings/PaysheetGroup">Staff Paysheet Group</a></li>
                        <li><a class="showloading" href="/GeneralSettings/GradeLevels">Staff Grade Levels</a></li>
                        <li><a class="showloading" href="/GeneralSettings/AllowanceRates">Allowance Rates</a></li>
                        <li><a class="showloading" href="/GeneralSettings/DeductionRates">Deduction Rates</a></li>
                        <li><a class="showloading" href="/GeneralSettings/EmployeeAllowances">Employee Allowances</a></li>
                        <li><a class="showloading" href="/GeneralSettings/EmployeeDeductions">Employee Deductions</a></li>
                        <li><a class="showloading" href="/GeneralSettings/LoanTypes">Loan Types</a></li>

                    </ul>


                </li>
                <li>
                    <a class="dropdown-toggle" href="#">Security</a>
                    <ul class="d-menu bg-white fg-black  border bd-gray rounded" data-role="dropdown">
                        <li><a class="showloading" href="/GeneralSettings/Users">Users</a></li>
                        <li><a class="showloading" href="/GeneralSettings/Roles">Roles</a></li>
                        <li><a class="showloading" href="/GeneralSettings/Permissions">Permissions</a></li>

                    </ul>
                </li>
                <li>
                    <a class="dropdown-toggle" href="#">Company Settings</a>
                    <ul class="d-menu bg-white fg-black  border bd-gray rounded" data-role="dropdown">
                        <li><a class="showloading" href="/Admin/Asset_Purchases">Branches</a></li>
                        <li><a class="showloading" href="/Admin/Asset_Disposals">Company Info</a></li>
                        <li><a class="showloading" href="/Admin/Asset_Disposals">Mail & SMS Settings</a></li>
                        <li><a class="showloading" href="/Admin/Asset_Disposals">Auto Numbers</a></li>
                        <li><a class="showloading" href="/Admin/Asset_Disposals">Regions</a></li>

                    </ul>


                </li>
            </ul>
        </li>
        }

        @if (rolesrepo.HasRole(rolesrepo.GeneralSettings, (long)userid))
        {
        <li>
            <a class="showloading" href="/GeneralSettings/ActivityLog"><i class="fas fa-clipboard-list"></i> Activity Log</a>
        </li>
        }





    </ul>

    <ul class="app-bar-menu ml-auto">

        <li>
            <a href=""><i class="mif-bell"></i><span class="badge bg-red fg-white">4</span></a>
            <ul class="d-menu bg-white fg-black  border bd-gray rounded" data-role="dropdown">
                <li> <a class="showloading" href="#">Bola Registered a Guest</a> </li>
            </ul>
        </li>
        @if (!string.IsNullOrEmpty(username))
        {
        <li>
            @if (DateTime.Now.Hour < 12)
                {
            <a class="dropdown-toggle" href="#">
                <i class="fas fa-user-circle"></i>

                Good morning, @username
            </a>
                }
                else if (DateTime.Now.Hour < 17)
                {
            <a class="dropdown-toggle" href="#">
                <i class="fas fa-user-circle"></i>

                Good Afternoon, @username
            </a>
                }
                else
                {
            <a class="dropdown-toggle" href="#">
                <i class="fas fa-user-circle"></i>

                Good Evening, @username
            </a>
                }
            <ul class="d-menu bg-white fg-black  border bd-gray rounded" data-role="dropdown">


                <li><a href="/SelfService/ChangePassword"><i class="fas fa-wrench"></i> Change Password</a></li>
                <li><a href="/Welcome/Logout"><i class="fas fa-power-off"></i> Log Out</a></li>
            </ul>
        </li>
        }


    </ul>
</div>
@* render banner *@
@if (pagepath == "/SelfService/Home")
{
<div class="section">
    <div class="jumbotron-codelines pb-15" id="hero-wrapper">
        <div class="container">
            <br />
            <div class="grid">
                <div class="row">
                    <div class="cell-sm-4">
                        <p style="padding-top: 50px;" class="">
                        </p>
                        <ul class="inline-list">
                            <li><a class="fg-white text-decoration-none" href="/SelfService/Leave_requests"><i class="fas fa-plane"></i> Request Leave</a></li>
                            <li><a class="fg-white" href="/SelfService/Loan_requests"><i class="fas fa-money-bill"></i> Request Loan</a></li>

                        </ul>
                    </div>
                    <div class="cell-sm-2">
                        <p style="padding-top: 50px;" class="">
                        </p>
                        <div class="text-center">
                            <img width="120" height="120" style="border-radius: 50%; border: 5px solid #fff;" src="~/Uploads/Profile/@Employee.Image" />
                            <br />
                            <span class="text-upper fg-white text-bold">@Employee.OtherNames @Employee.Surname</span>
                            <p>(@Employee.Dept)</p>
                        </div>

                    </div>
                    <div class="cell-sm-4">
                        <p style="padding-top: 50px;" class="">
                        </p>
                        <ul class="inline-list">
                            <li><a class="fg-white" href="/SelfService/Reimbursements"><i class="fas fa-recycle"></i> Request Reimbursement</a></li>
                            <li><a class="fg-white" href="/SelfService/Data_change_requests"><i class="fas fa-plane"></i> My Profile</a></li>

                        </ul>
                    </div>


                </div>
            </div>
        </div>

    </div>
</div>
}



