﻿@page
@model Plumbago_Brokerage.Pages.Report.AllReportsModel
@{
}
<div class="container-fluid">
    <div>
        <h3>
            All Reports
        </h3>

    </div>

    <hr />
</div>

<div class="border-none" data-cls-panel="rounded" data-role="panel">
    <div class="row mb-3">
        <div class="cell-sm-6">
            <div class="" data-role="accordion"
                 data-one-frame="false"
                 data-show-active="true">

                <div class="frame active">
                    <div class="heading">Employee Reports</div>
                    <div class="content">
                        <div class="p-2">
                            <ul data-role="listview" data-view="list" data-select-node="true" data-role-listview="true" class="listview view-list">
                                <li data-caption="" class="node"><a class="showloading text-small text-bold" href="/Report/Viewer?reportid=RptAllActiveEmployees"><i class="mif-file-pdf"></i> All Active Employee Report</a></li>
                                <li data-caption="" class="node"><a class="showloading text-small text-bold" href="/Report/Viewer?reportid=RptAllDisengagedEmployee"><i class="mif-file-pdf"></i> All Disengaged Employee Report</a></li>
                                <li data-caption="" class="node"><a class="showloading text-small text-bold" href="/Report/Viewer?reportid=RptAllEmployedStaffByPeriod"><i class="mif-file-pdf"></i> All Employed Staff By Period Report</a></li>
                                <li data-caption="" class="node"><a class="showloading text-small text-bold" href="/Report/Viewer?reportid=RptAllEmployeeBirthday"><i class="mif-file-pdf"></i> All Employee Birthday Report</a></li>
                                <li data-caption="" class="node"><a class="showloading text-small text-bold" href="/Report/Viewer?reportid=RptAllEmployeeDiscipline"><i class="mif-file-pdf"></i> All Employee Discipline Report</a></li>
                                <li data-caption="" class="node"><a class="showloading text-small text-bold" href="/Report/Viewer?reportid=RptEmployeeAppraisal"><i class="mif-file-pdf"></i> All Employee Appraisal Report</a></li>
                                <li data-caption="" class="node"><a class="showloading text-small text-bold" href="/Report/Viewer?reportid=RptEmployeeTrainingCostSummary"><i class="mif-file-pdf"></i> Employee Training Cost Summary Report</a></li>
                                <li data-caption="" class="node"><a class="showloading text-small text-bold" href="/Report/Viewer?reportid=RptEmployeeLeaveDetailsByBranch"><i class="mif-file-pdf"></i> Employee Leave Details By Branch Report</a></li>
                                <li data-caption="" class="node"><a class="showloading text-small text-bold" href="/Report/Viewer?reportid=RptEmployeeMedicalDetails"><i class="mif-file-pdf"></i> Employee Medical Deatils Report</a></li>

                            </ul>


                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="cell-sm-6">
            <div class="" data-role="accordion"
                 data-one-frame="false"
                 data-show-active="true">

                <div class="frame active">
                    <div class="heading">Payroll Reports</div>
                    <div class="content">
                        <div class="p-2">
                            <ul data-role="listview" data-view="list" data-select-node="true" data-role-listview="true" class="listview view-list">
                                <li data-caption="" class="node"><a class="showloading text-small text-bold" href="/Report/Viewer?reportid=EmployeeLoanReport"><i class="mif-file-pdf"></i> Employee Loan Schedule Report</a></li>
                                <li data-caption="" class="node"><a class="showloading text-small text-bold" href="/Report/Viewer?reportid=RptEmployeePaySlip"><i class="mif-file-pdf"></i> Employee PaySlip Report</a></li>
                               
                            </ul>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    
        </div>



</div>