﻿@page
@using Microsoft.AspNetCore.Http
@using Plumbago_Brokerage.Data.Global
@inject ModMain modmain
@model Plumbago_Brokerage.Pages.SelfService.HomeModel
@inject IHttpContextAccessor HttpContextAccessor


@{
    var Employee = modmain.GetEmployeeProfileById(HttpContextAccessor.HttpContext.Session.GetString("Employeeid"));
}

<div class="pb-4">
    <h2 class="text-bold">  Welcome back, @HttpContextAccessor.HttpContext.Session.GetString("Curruser")!</h2>
</div>




   




    <div class="row mb-3">
        <div class="cell-md-9">
            <div class="info-panel rounded no-overflow shadow-3">
                <div class="info-panel-header text-left bg-darkCobalt fg-white">Loan Requests</div>
                <div class="info-panel-content text-left-sm">
                    @if (Model.TableList.Groupname2 == "selfservice_dashboard_loan")
                    {
                        @if (!Model.TableList.Loans.Any())
                        {
                            <div class="text-center">
                                <p class="text-bold text-center centered">No Loan Requests found</p>
                            </div>
                        }
                        else
                        {
                            <div class="table-container rounded">
                                <table data-cls-table-top="row flex-nowrap" data-cls-search="cell-md-8" class="table striped rounded row-hover">
                                    <thead>
                                        <tr>
                                            <th>#Loan ID</th>
                                            <th>Name</th>
                                            <th>Loan Type</th>
                                            <th>Loan Amount</th>
                                            <th>Status</th>


                                            <th></th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var emp in Model.TableList.Loans)
                                        {
                                        <tr>
                                            <td>@emp.LoanId</td>
                                            <td>@emp.Surname @emp.Othernames</td>

                                            <td>@emp.LoanName</td>
                                            <td>@modmain.FormatNaira(emp.Amount)</td>
                                            <td><span class="badge inline bg-orange fg-white">@emp.TransStatus</span></td>


                                            <td>
                                                <a href='/SelfService/Loan_request_edit?id=@emp.LoanId' class="showloading" role="button"><i class="fas fa-edit"></i></a>

                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                    <tfoot>

                                    </tfoot>
                                </table>

                            </div>

                        }
                    }
                </div>
                            <div class="info-panel-footer text-left-sm">
                                <div class="text-center">
                                    <a href="/SelfService/Loan_requests" class="button info rounded">View All</a>
                                </div>
                               
                            </div>
                        </div>
        </div>
        <div class="cell-md-3 hvr-bob">
            <div class="info-panel rounded no-overflow shadow-3">
                <div class="info-panel-header text-left bg-darkCobalt fg-white">About Me</div>

                <div class="info-panel-content">
                    <div class="centered"> <img width="80" src="~/images/user.svg" /></div>
                    <br />
                    <br />
                    <table data-cls-table-top="row flex-nowrap" data-cls-search="cell-md-8" class="table striped rounded row-hover">
                        <thead></thead>
                        <tbody>
                            @if (Employee != null)
                            {
                                <tr>
                                    <td><span class="text-bold">Employee Name</span></td>
                                    <td><span class="text-bold">@Employee.Title @Employee.Surname @Employee.OtherNames</span></td>
                                </tr>
                                <tr>
                                    <td><span class="text-bold">Mobile Phone</span></td>
                                    <td><span class="text-bold">@Employee.MobilePhone</span></td>
                                </tr>
                                <tr>
                                    <td><span class="text-bold">Email</span></td>
                                    <td><span class="text-bold">@Employee.Email</span></td>
                                </tr>
                                <tr>
                                    <td><span class="text-bold">Branch</span></td>
                                    <td><span class="text-bold">@Employee.Branch</span></td>
                                </tr>

                                <tr>
                                    <td><span class="text-bold">Department</span></td>
                                    <td><span class="text-bold">@Employee.Dept</span></td>
                                </tr>
                                <tr>
                                    <td><span class="text-bold">Unit</span></td>
                                    <td><span class="text-bold">@Employee.Unit</span></td>
                                </tr>
                                <tr>
                                    <td><span class="text-bold">Grade</span></td>
                                    <td><span class="text-bold">@Employee.Grade</span></td>
                                </tr>
                            }
                             else
                                  {
                                   <span>Employee Details not found</span>
                                   }

                        </tbody>
                    </table>
                </div>
              
            </div>
        </div>



    </div>


    <div class="row mb-3">
        <div class="cell-md-12">
            <div class="info-panel rounded no-overflow shadow-3">
                <div class="info-panel-header text-left bg-darkCobalt fg-white">Leave Requests</div>
                <div class="info-panel-content text-left-sm">
                    @if (Model.TableList.Groupname == "selfservice_dashboard_leave")
                    {
                        @if (!Model.TableList.Leave.Any())
                        {
                    <div class="text-center">
                        <p class="text-bold centered">No Leave requests found</p>
                    </div>
                           
                        }
                        else
                        {
                            <div class="table-container rounded">
                                <table data-cls-table-top="row flex-nowrap" data-cls-search="cell-md-8" class="table striped rounded row-hover">
                                    <thead>
                                        <tr>
                                            <th>#Leave ID</th>
                                            <th>Employee Name</th>
                                            <th>Leave Type</th>
                                            <th>Duration</th>
                                            <th>Status</th>
                                            <th>StartDate</th>
                                            <th>EndDate</th>

                                            <th></th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var emp in Model.TableList.Leave)
                                        {
                                            <tr>
                                                <td>@emp.LeaveId</td>
                                                <td>@emp.Surname @emp.Othernames</td>
                                                <td>@emp.LeaveType</td>
                                                <td>@emp.Duration</td>
                                                <td><span class="badge inline bg-orange fg-white">@emp.TransStatus</span></td>
                                                <td>@modmain.FormatDate(emp.StartDate.Value)</td>
                                                <td>@modmain.FormatDate(emp.EndDate.Value)</td>

                                                <td>
                                                    <a href='/SelfService/Leave_request_edit?id=@emp.LeaveId' class="showloading" role="button"><i class="fas fa-edit"></i></a>
                                                    @*<button class="btn btn-danger" data-toggle="modal" data-target="#deleteEmpModal" @onclick="DeleteConfirm(emp.EmployeeId)">Delete</button>*@
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>

                                    </tfoot>
                                </table>

                            </div>

                        }
                    }

                </div>
                <div class="info-panel-footer text-center text-left-sm">
                    <div class="text-center">
                        <a href="/SelfService/Leave_requests" class="button info rounded">View all</a>
                    </div>
                   

                </div>
                  
            </div>
        </div>
        <br />
        <div class="cell-md-12">
            <div class="info-panel rounded no-overflow shadow-3">
                <div class="info-panel-header text-left bg-darkCobalt fg-white">Reimbursements</div>
                <div class="info-panel-content text-left-sm">
                    @if (Model.TableList.Groupname3 == "selfservice_dashboard_reimbursements")
                    {
                        @if (!Model.TableList.Reimbursements.Any())
                        {
                            <div class="text-center">
                                <p class="text-bold centered">No reimbursements found</p>
                            </div>
                        }
                        else
                        {
                            <div class="table-container rounded">
                                <table data-cls-table-top="row flex-nowrap" data-cls-search="cell-md-8" class="table striped rounded row-hover">
                                    <thead>
                                        <tr>
                                            <th>#Reimbursement ID</th>
                                            <th>Reimbursement Type</th>
                                            <th>Expense date</th>
                                            <th>Amount</th>
                                            <th>Status</th>
                                            <th>Submitted On</th>

                                            <th></th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var emp in Model.TableList.Reimbursements)
                                        {
                                        <tr>
                                            <td>@emp.ExpenseId</td>
                                            <td>@emp.ExpenseType</td>
                                            <td>@emp.DateOfExpense</td>
                                            <td>@modmain.FormatNaira(emp.Amount)</td>
                                            <td><span class="badge inline bg-orange fg-white">@emp.TransStatus</span></td>
                                            <td>@modmain.FormatDate(emp.SubmittedOn.Value)</td>


                                            <td>
                                                <a href='/SelfService/Reimbursement_edit?id=@emp.ExpenseId' class="showloading" role="button"><i class="fas fa-edit"></i></a>
                                                @*<button class="btn btn-danger" data-toggle="modal" data-target="#deleteEmpModal" @onclick="DeleteConfirm(emp.EmployeeId)">Delete</button>*@
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                    <tfoot>

                                    </tfoot>
                                </table>

                            </div>

                        }
                    }
                </div>
                <div class="info-panel-footer text-center text-left-sm">
                    <div class="text-center">
                        <a href="/SelfService/Reimbursements" class="button info rounded">View all</a>
                    </div>

                  

                </div>
                        </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="cell-md-6">
            <div class="info-panel rounded no-overflow shadow-3">
                <div class="info-panel-header text-left bg-darkCobalt fg-white">Loan Analysis</div>
                <div class="info-panel-content text-left-sm">

                    <div class="table-container rounded">
                        <table data-cls-table-top="row flex-nowrap" data-cls-search="cell-md-8" class="table striped rounded row-hover">
                            <thead>
                                <tr>
                                    <th>#Loan ID</th>
                                    <th>Name</th>
                                    <th>Loan Type</th>
                                    <th>Loan Amount</th>
                                    <th>Amount Paid</th>
                                    <th>Amount Due</th>
                                    <th>Start Date</th>
                                    <th>Due Date</th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var emp in Model.TableList.Loans)
                                {
                                <tr>
                                    <td>@emp.LoanId</td>
                                    <td>@emp.Surname @emp.Othernames</td>

                                    <td>@emp.LoanName</td>
                                    <td>@modmain.FormatNaira(emp.Amount)</td>
                                    <td>@modmain.FormatNaira(emp.AmtPaid)</td>
                                    <td>@modmain.FormatNaira(emp.TotalAmtDue)</td>
                                    <td>@modmain.FormatDate(emp.StartDate.Value)</td>
                                    <td>@modmain.FormatDate(emp.DueDate.Value)</td>


                                    <td>
                                        <a href='/SelfService/Loan_request_edit?id=@emp.LoanId' class="showloading" role="button"><i class="fas fa-edit"></i></a>
                                        @*<button class="btn btn-danger" data-toggle="modal" data-target="#deleteEmpModal" @onclick="DeleteConfirm(emp.EmployeeId)">Delete</button>*@
                                    </td>
                                </tr>
                                }
                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table>

                    </div>

                </div>
            
            </div>
        </div>

        <div class="cell-md-6">
            <div class="info-panel rounded no-overflow shadow-3">
                <div class="info-panel-header text-left bg-darkCobalt fg-white">Leave Balances and Prediction</div>
                <div class="info-panel-content text-left-sm">
                    <table data-cls-table-top="row flex-nowrap" data-cls-search="cell-md-8" class="table striped rounded row-hover">
                        <thead></thead>
                        <tbody>
                            <tr>
                                <td><span class="text-bold">Total Annual Leave (Days)</span></td>
                                <td><span class="text-bold">27</span></td>
                            </tr>
                            <tr>
                                <td><span class="text-bold">Total Requested (Days)</span></td>
                                <td><span class="text-bold">10</span></td>
                            </tr>

                            <tr>
                                <td><span class="text-bold">Balance (Days)</span></td>
                                <td><span class="text-bold">17</span></td>
                            </tr>
                        </tbody>
                        </table>

                </div>
            
            </div>
        </div>

    </div>



