﻿@page
@model Plumbago_Brokerage.Pages.SelfService.Leave_request_editModel
@{
}

<div class="container-fluid">
    <div>
        <h3>
            @Model.EditModel.PageTitle
        </h3>

    </div>
    <hr />
    @if (Model.EditModel.ErrMsg != null)
    {
        ViewData["message"] = Model.EditModel.ErrMsg;
        ViewData["type"] = Model.EditModel.ErrMsgType;
        <partial name="_messagepanelPartial" />
    }
</div>
<partial name="TopTabs" model="Model.EditModel" />

<div class="border-none" data-cls-panel="rounded" data-role="panel">
    <form id="myform" method="post">
        <div class="container-fluid">
            <div class="row">
                <div class="cell-12">
                    <div class="">
                        <div data-role="accordion"
                             data-one-frame="false"
                             data-show-active="true">

                            <div class="frame active">
                                <div class="heading">Leave Request</div>
                                <div class="content">
                                    <div class="p-2">
                                        <input type="hidden" asp-for="LeaveId" />

                                        <div class="row mb-3">
                                            <label class="text-small text-bold cell-sm-1">Leave Type</label>
                                            <div class="cell-sm-4">

                                                <select name="LeaveType" asp-for="LeaveType" class="rounded" data-role="select" asp-items="Model.LeaveTypes">
                                                    <option disabled value=""></option>
                                                </select>
                                                <span class="text-small fg-red" asp-validation-for="LeaveType"></span>


                                            </div>
                                            <div class="cell-sm-1"></div>


                                        </div>

                                        <div class="row mb-3">
                                            <label class="text-small text-bold cell-sm-1">From</label>
                                            <div class="cell-sm-4">
                                                <div class="form-group">

                                                    <input id="datepicker" type="text" asp-for="StartDate" data-role="calendarpicker" class="form-control rounded" data-cls-calendar="compact" />
                                                    <span class="text-small fg-red" asp-validation-for="StartDate"></span>


                                                </div>
                                            </div>

                                            <div class="cell-sm-1"></div>

                                            <label class="text-small text-bold cell-sm-1">To</label>
                                            <div class="cell-sm-4">
                                                <div class="form-group">



                                                    <input type="text" asp-for="EndDate" data-role="calendarpicker" class="form-control rounded" data-cls-calendar="compact">
                                                    <span class="text-small fg-red" asp-validation-for="EndDate"></span>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="row mb-3">
                                            <label class="text-small text-bold cell-sm-1">Comment</label>
                                            <div class="cell-sm-11">
                                                <textarea asp-for="Purpose" class="metro-input rounded"></textarea>

                                            </div>
                                            <div class="cell-sm-1"></div>

                                        </div>





                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <div>
                                <a asp-page="Leave_requests">Back to List</a>
                            </div>
                            <div class="text-center">
                                <span class="">
                                    <a class="button alert" onclick="goBack()">Cancel</a>  <button type="submit" class="button primary" asp-page-handler="Save">
                                        <i class="fas fa-save"></i> Submit
                                    </button>
                                </span>

                            </div>


                        </div>
                    </div>


                </div>

                <div>


                </div>

            </div>
        </div>
    </form>
</div>

