﻿@page
@model Plumbago_Brokerage.Pages.SelfService.Leave_requestsModel

@{
    ViewData["Title"] = "Leave_requests";
}

<div class="container-fluid">
    <div>
        <h3>
           My Leave Requests
        </h3>

    </div>

    <hr />
</div>


<form method="post">
    <div class="border-none" data-cls-panel="rounded" data-role="panel">

        <partial name="TableAreaPartial" model="Model.TableList" />
        <div class="text-center">

            <a class="button primary showloading" href="/SelfService/Leave_request_edit"> Request New</a>  <a class="button alert" onclick="goBack()">Cancel</a>
            <button type="submit" class="button showloading bg-red fg-white" onclick="return confirm('Are you sure you want to delete?')" asp-page-handler="Delete"><i class="fas fa-trash"></i> Delete</button>
        </div>
      
    </div>
</form>
