﻿@page
@model Plumbago_Brokerage.Pages.SelfService.Loan_requestsModel
@{
    ViewData["Title"] = "Loan requests";
}

<div class="container-fluid">
    <div>
        <h3>
            My Loan Requests
        </h3>

    </div>

    <hr />
</div>


<form method="post">
    <div class="border-none" data-cls-panel="rounded" data-role="panel">

        <partial name="TableAreaPartial" model="Model.TableList" />
        <div class="text-center">
            <a class="button alert" onclick="goBack()">Cancel</a>
            <a class="button primary showloading" href="/SelfService/Loan_request_edit"> Request New Loan</a>
            <button type="submit" class="button showloading bg-red fg-white" onclick="return confirm('Are you sure you want to delete?')" asp-page-handler="Delete"><i class="fas fa-trash"></i> Delete</button>
        </div>
        </div>
</form>