﻿@page
@model Plumbago_Brokerage.Pages.SelfService.PaySlipsModel
@{
}
<div class="container-fluid">
    <div>
        <h3>
            Download Payslips
        </h3>

    </div>

    <hr />
</div>



<form method="post">
    <div class="border-none" data-cls-panel="rounded" data-role="panel">

        <partial name="TableAreaPartial" model="Model.TableList" />
        <br />
        <div class="form-group text-center">
          

        </div>
    </div>
</form>