﻿@page
@model Plumbago_Brokerage.Pages.SelfService.ReimbursementsModel

@{
    ViewData["Title"] = "Reimbursements";
}

<div class="container-fluid">
    <div>
        <h3>
            My Reimbursements
        </h3>

    </div>

    <hr />
</div>



<form method="post">
    <div class="border-none" data-cls-panel="rounded" data-role="panel">

        <partial name="TableAreaPartial" model="Model.TableList" />
        <a class="button primary showloading" href="/SelfService/Reimbursement_edit"> New Reimbursement</a>
        <button type="submit" class="button showloading bg-red fg-white" onclick="return confirm('Are you sure you want to delete?')" asp-page-handler="Delete"><i class="fas fa-trash"></i> Delete</button>
    </div>
</form>