﻿@page
@model Plumbago_Brokerage.Pages.SelfService.Reimbursement_editModel
@{
}

<div class="container-fluid">
    <div>
        <h3>
            @Model.EditModel.PageTitle
        </h3>

    </div>
    <hr />
    @if (Model.ErrMsg != null)
    {
        ViewData["message"] = Model.ErrMsg;
        ViewData["type"] = Model.ErrMsgType;
        <partial name="_messagepanelPartial" />
    }
</div>
<partial name="TopTabs" model="Model.EditModel" />

<div class="border-none" data-cls-panel="rounded" data-role="panel">
    <form id="myform" method="post" enctype="multipart/form-data">
        <div class="container-fluid">
            <div class="row">
                <div class="cell-12">
                    <div class="">
                        <div data-role="accordion"
                             data-one-frame="false"
                             data-show-active="true">

                            <div class="frame active">
                                <div class="heading">Reimbursement Request</div>
                                <div class="content">
                                    <div class="p-2">
                                        <input type="hidden" asp-for="ExpenseId" />

                                        <div class="row mb-3">
                                            <label class="text-small text-bold cell-sm-1">Expense Type</label>
                                            <div class="cell-sm-4">

                                                <select asp-for="ExpenseType" class="rounded" data-role="select" asp-items="Model.ExpenseTypes">
                                                    <option disabled value="">- select -</option>
                                                </select>
                                                <span class="text-small fg-red" asp-validation-for="ExpenseType"></span>


                                            </div>
                                            <div class="cell-sm-1"></div>

                                        </div>

                                        <div class="row mb-3">
                                            <label class="text-small text-bold cell-sm-1">Amount</label>
                                            <div class="cell-sm-4">

                                                <input data-role="input" data-prepend="₦" class="form-control rounded" type="text" asp-for="Amount" />
                                                <span class="text-small fg-red" asp-validation-for="Amount"></span>

                                            </div>

                                            <div class="cell-sm-1"></div>

                                            <label class="text-small text-bold cell-sm-1">Date of Expense</label>
                                            <div class="cell-sm-4">

                                                <input type="text" asp-for="DateOfExpense" data-role="calendarpicker" class="form-control rounded" data-cls-calendar="compact">
                                                <span class="text-small fg-red" asp-validation-for="DateOfExpense"></span>

                                            </div>

                                        </div>

                                        <div class="row mb-3">
                                            <label class="text-small text-bold cell-sm-1">Upload Receipt</label>
                                            <div class="cell-sm-4">
                                                <input type="file" data-role="file" name="ExpenseImages" asp-for="ExpenseImages" data-prepend="Select your Image">
                                            </div>
                                            <div class="cell-sm-1"></div>
                                            <label class="text-small text-bold cell-sm-1">Comments</label>
                                            <div class="cell-sm-4">
                                                <textarea asp-for="Description" class="metro-input rounded"></textarea>

                                            </div>
                                        </div>






                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">

                            <div class="text-center">
                                <span class="">
                                    <a class="button alert" onclick="goBack()">Cancel</a>  <button type="submit" class="button primary" asp-page-handler="Save"> <i class="fas fa-save"></i> Submit </button>
                                </span>

                            </div>


                        </div>
                    </div>


                </div>

                <div>


                </div>

            </div>
        </div>
    </form>
</div>