﻿@page
@model Plumbago_Brokerage.Pages.SelfService.SelfAppraisalModel
@{
}
<div class="container-fluid">
    <div>
        <h3>
            My Appraisals
        </h3>

    </div>

    <hr />
</div>



<form method="post">
    <div class="border-none" data-cls-panel="rounded" data-role="panel">

        <partial name="TableAreaPartial" model="Model.TableList" />
        <br />
        <div class="form-group text-center">
            <a class="button primary showloading" href="/SelfService/SelfAppraisal_Edit"> New Appraisal Request</a>
            <button type="submit" class="button showloading bg-red fg-white" onclick="return confirm('Are you sure you want to delete?')" asp-page-handler="Delete"><i class="fas fa-trash"></i> Delete</button>

        </div>
    </div>
</form>