﻿@page
@model Plumbago_Brokerage.Pages.SelfService.SelfAppraisal_EditModel
@{
}
<div class="container-fluid">
    <div>
        <h3>
            @Model.EditModel.PageTitle
        </h3>

    </div>
    <hr />
    @if (Model.EditModel.ErrMsg != null)
    {
        ViewData["message"] = Model.EditModel.ErrMsg;
        ViewData["type"] = Model.EditModel.ErrMsgType;
        <partial name="_messagepanelPartial" />
    }
</div>
<partial name="TopTabs" model="Model.EditModel" />

<div class="border-none" data-cls-panel="rounded" data-role="panel">
    <form id="myform" method="post">
        <div class="container-fluid">
            <div class="row">
                <div class="cell-12">
                    <div class="">
                        <div data-role="accordion"
                             data-one-frame="false"
                             data-show-active="true">

                            <div class="frame active">
                                <div class="heading">Self-Appraisal Request</div>
                                <div class="content">
                                    <div class="p-2">
                                        <input type="hidden" asp-for="AppraisalId" />

                                        <div class="row mb-3">
                                            <label class="text-small text-bold cell-sm-1">Reviewer</label>
                                            <div class="cell-sm-4">

                                                <input data-role="input" data-prepend="<span class='mif-user'></span>" class="form-control rounded" type="text" asp-for="Reviewer" disabled />

                                            </div>
                                            <div class="cell-sm-1"></div>
                                            <label class="text-small text-bold cell-sm-1">Review Period</label>
                                            <div class="cell-sm-4">
                                                <select name="LeaveType" asp-for="ReviewPeriod" class="rounded" data-role="select" asp-items="Model.Reviewperiods">
                                                    <option disabled value=""></option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="mb-3" data-role="accordion"
                             data-one-frame="false"
                             data-show-active="true">

                            <div class="frame active">
                                <div class="heading">Performance Evaluation</div>
                                <div class="content">
                                    <div class="p-2">

                                        <div class="row mb-3">

                                            <div class="text-small text-bold cell-sm-12">
                                             
                                                <br />
                                                <table data-cls-table-top="row flex-nowrap" data-cls-search="cell-md-8" class="table striped rounded row-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Appraisals</th>
                                                            <th>Score</th>
                                                            <th>Reason</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model.Appraisalgrades != null)
                                                        {
                                                            @for (int i = 0; i < Model.Appraisalgrades.Count; i++)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        <label class="text-small bg-grayWhite text-bold">@Model.Appraisalgrades[i].AppraisalName</label>

                                                                    </td>

                                                                    <td>
                                                                        <select asp-for="@Model.appraisalDetails[i].Score" class="rounded" data-role="select" asp-items="Model.Appraisalscores">
                                                                            <option disabled value=""></option>
                                                                        </select>

                                                                    </td>
                                                                    <td>
                                                                        <textarea asp-for="@Model.appraisalDetails[i].Reason" class="metro-input rounded"></textarea>
                                                                    </td>

                                                                </tr>
                                                                <tr hidden="hidden">
                                                                    <td><input type="text" data-role="input" asp-for="@Model.appraisalDetails[i].AppraisalName" value="@Model.Appraisalgrades[i].AppraisalName" hidden="hidden"></td>
                                                                    <td><input data-role="input" asp-for="@Model.Appraisalgrades[i].AppraisalName" hidden="hidden"></td>
                                                                </tr>
                                                            }
                                                        }


                                                    </tbody>
                                                    <tfoot>

                                                    </tfoot>
                                                </table>
                                            </div>

                                            
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="text-center">
                                <span class="">
                                    <a class="button alert" onclick="goBack()">Cancel</a>  <button type="submit" class="button primary" asp-page-handler="Save"> <i class="fas fa-save"></i> Submit </button>
                                </span>

                            </div>


                        </div>
                    </div>


                </div>

                <div>


                </div>

            </div>
        </div>
    </form>
</div>