﻿@page
@model Plumbago_Brokerage.Pages.SelfService.TrainingNeeds_EditModel
@{
}
<div class="container-fluid">
    <div>
        <h3>
            @Model.EditModel.PageTitle
        </h3>

    </div>
    <hr />
    @if (Model.EditModel.ErrMsg != null)
    {
        ViewData["message"] = Model.EditModel.ErrMsg;
        ViewData["type"] = Model.EditModel.ErrMsgType;
        <partial name="_messagepanelPartial" />
    }
</div>
<partial name="TopTabs" model="Model.EditModel" />

<div class="border-none" data-cls-panel="rounded" data-role="panel">
    <form id="myform" method="post" enctype="multipart/form-data">
        <div class="container-fluid">
            <div class="row">
                <div class="cell-12">
                    <div class="">
                        <div data-role="accordion"
                             data-one-frame="false"
                             data-show-active="true">

                            <div class="frame active">
                                <div class="heading">Training Request</div>
                                <div class="content">
                                    <div class="p-2">
                                        <input type="hidden" asp-for="TrainHisId" />

                                        <div class="row mb-3">
                                            <label class="text-small text-bold cell-sm-1">Training Description</label>
                                            <div class="cell-sm-4">

                                                <input data-role="input" data-prepend="<span class='mif-pencil'></span>" class="form-control rounded" type="text" asp-for="TrainDesc" />

                                            </div>
                                            <div class="cell-sm-1"></div>
                                            <label class="text-small text-bold cell-sm-1">Training Type</label>
                                            <div class="cell-sm-4">

                                                <input data-role="input" data-prepend="<span class='mif-pencil'></span>" class="form-control rounded" type="text" asp-for="TrainCadre" />

                                            </div>
                                        </div>

                                        <div class="row mb-3">
                                            <label class="text-small text-bold cell-sm-1">Training Cadres</label>
                                            <div class="cell-sm-4">
                                                <select name="LeaveType" asp-for="TrainCadre" class="rounded" data-role="select" asp-items="Model.TrainingCadres">
                                                    <option disabled value=""></option>
                                                </select>
                                                
                                            </div>

                                            <div class="cell-sm-1"></div>

                                            <label class="text-small text-bold cell-sm-1">Training Venue</label>
                                            <div class="cell-sm-4">

                                                <input data-role="input" data-prepend="₦" class="form-control rounded" type="text" asp-for="TrainVenue" />

                                            </div>

                                        </div>
                                        <div class="row mb-3">
                                            <label class="text-small text-bold cell-sm-1">Start Date</label>
                                            <div class="cell-sm-4">

                                                <input type="text" asp-for="Startdate" data-role="calendarpicker" class="form-control rounded" data-cls-calendar="compact">

                                            </div>

                                            <div class="cell-sm-1"></div>

                                            <label class="text-small text-bold cell-sm-1">End Date</label>
                                            <div class="cell-sm-4">

                                                <input type="text" asp-for="Enddate" data-role="calendarpicker" class="form-control rounded" data-cls-calendar="compact">

                                            </div>

                                        </div>
                                        <div class="row mb-3">
                                            <label class="text-small text-bold cell-sm-1">Course Cost</label>
                                            <div class="cell-sm-4">

                                                <input data-role="input" data-prepend="₦" class="form-control rounded" type="text" asp-for="CourseCost" />


                                            </div>

                                            <div class="cell-sm-1"></div>

                                        </div>





                                    </div>
                                </div>
                            </div>

                        </div>

                        <div data-role="accordion"
                             data-one-frame="false"
                             data-show-active="true">

                            <div class="frame active">
                                <div class="heading">Cost & Other Details</div>
                                <div class="content">
                                    <div class="p-2">


                                        <div class="row mb-3">
                                            <label class="text-small text-bold cell-sm-1">Accomodation Cost</label>
                                            <div class="cell-sm-4">
                                                <input data-role="input" data-prepend="₦" class="form-control rounded" type="text" asp-for="AccomCost" />
                                            </div>
                                            <div class="cell-sm-1"></div>
                                            <label class="text-small text-bold cell-sm-1">Transportation Cost</label>
                                            <div class="cell-sm-4">
                                                <input data-role="input" data-prepend="₦" class="form-control rounded" type="text" asp-for="TranspCost" />
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label class="text-small text-bold cell-sm-1">Feeding Cost</label>
                                            <div class="cell-sm-4">
                                                <input data-role="input" data-prepend="₦" class="form-control rounded" type="text" asp-for="FeedingCost" />
                                            </div>
                                            <div class="cell-sm-1"></div>
                                          
                                        </div>

                                        <div class="row mb-3">
                                            <label class="text-small text-bold cell-sm-1">Certificate Obtained</label>
                                            <div class="cell-sm-4">
                                                <input data-role="input" data-prepend="<span class='mif-pencil'></span>" class="form-control rounded" type="text" asp-for="CertObtained" />
                                            </div>

                                            <div class="cell-sm-1"></div>

                                            <label class="text-small text-bold cell-sm-1">Comments</label>
                                            <div class="cell-sm-4">

                                                <textarea asp-for="Remarks" class="metro-input rounded"></textarea>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">

                            <div class="text-center">
                                <span class="">
                                    <a class="button alert" onclick="goBack()">Cancel</a>  <button type="submit" class="button primary" asp-page-handler="Save"> <i class="fas fa-save"></i> Submit </button>
                                </span>

                            </div>


                        </div>
                    </div>


                </div>

                <div>


                </div>

            </div>
        </div>
    </form>
</div>