﻿@page
@model Plumbago_Brokerage.Pages.Payroll.BatchPayrollProcessingModel
@{
}

<div class="container-fluid">
    <div>
        <h3>
            @Model.EditModel.PageTitle
        </h3>

    </div>
    <hr />
    @if (Model.EditModel.ErrMsg != null)
    {
        ViewData["message"] = Model.EditModel.ErrMsg;
        ViewData["type"] = Model.EditModel.ErrMsgType;
        <partial name="_messagepanelPartial" />
    }
</div>


<div class="border-none" data-cls-panel="rounded" data-role="panel">
    <form id="myform" method="post">


        <div class="container-fluid">
            <div class="row">
                <div class="cell-12">

                    <div class="mb-3" data-role="accordion"
                         data-one-frame="false"
                         data-show-active="true">

                        <div class="frame active">
                            <div class="heading">Process Batch Payroll</div>
                            <div class="content">
                                <div class="p-2">

                                    <div class="row mb-3">
                                        <label class="text-small text-bold cell-sm-1">Previous Month</label>
                                        <div class="cell-sm-4">
                                            <select asp-for="Previousmonth" asp-items="Model.Previousmonths" class="rounded text-small" data-role="select" >
                                                <option disabled value="">- select -</option>

                                            </select>

                                        </div>
                                        <div class="cell-sm-1"></div>
                                        <label class="text-small text-bold cell-sm-1">Next Month</label>
                                        <div class="cell-sm-4">
                                            <select asp-for="Period" asp-items="Model.NextMonths" class="rounded text-small" data-role="select">
                                                <option disabled value="">- select -</option>

                                            </select>
                                        </div>

                                    </div>
                                    <div class="row mb-3">
                                        <label class="text-small text-bold cell-sm-1">Paysheet Group</label>
                                        <div class="cell-sm-4">

                                            <select asp-for="SheetId" asp-items="Model.PaySheetGroups" class="rounded text-small" data-role="select">
                                                <option disabled value="">- select -</option>
                                                <option value="0">All</option>

                                            </select>

                                        </div>
                                        <div class="cell-sm-1"></div>
                                        <label class="text-small text-bold cell-sm-1">Mail Employee PaySlips</label>
                                        <div class="cell-sm-1">
                                            <input type="checkbox" asp-for="MailEmployees" data-role="switch" data-caption="" checked>
                                        </div>
                                        <div class="cell-sm-1"></div>
                                        <label class="text-small text-bold cell-sm-1">Include Ex-Gratial?</label>
                                        <div class="cell-sm-1">
                                            <input type="checkbox" asp-for="IncludeExgratial" data-role="switch" data-caption="" >
                                        </div>

                                    </div>

                                    <div class="form-group">

                                        <div class="text-center">
                                            <span class="">
                                                <button type="submit" class="button primary" asp-page-handler="Email"> <i class="fas fa-save"></i> test email</button>
                                                <a class="button alert" onclick="goBack()">Cancel</a>  <button type="submit" class="button primary" asp-page-handler="Process"> <i class="fas fa-save"></i> Start Processing... </button>
                                            </span>

                                        </div>


                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>


                    
                    
                </div>


            </div>

            <div>


            </div>

        </div>
    </form>

</div>