﻿@page
@model Plumbago_Brokerage.Pages.Payroll.Employee_PayrollModel
@{
}

<div class="container-fluid">
    <div>
        <h3>
          New Employee Payroll
        </h3>

    </div>

    <hr />
</div>


<form method="post">
    <div class="border-none" data-cls-panel="rounded" data-role="panel">

        <partial name="SearchFilterArea" model="Model.Searchfilter" />
        <partial name="TableAreaPartial" model="Model.TableList" />

     
    </div>
</form>