﻿@page
@model Plumbago_Brokerage.Pages.Payroll.EmployeePayrollDetails_EditModel
@{
}
<div class="container-fluid">
    <div>
        <h3>
            @Model.EditModel.PageTitle
        </h3>

    </div>
    <hr />
    @if (Model.ErrMsg != null)
    {
        ViewData["message"] = Model.ErrMsg;
        ViewData["type"] = Model.ErrMsgType;
        <partial name="_messagepanelPartial" />
    }

</div>


<div class="border-none" data-cls-panel="rounded" data-role="panel">
    <form id="myform" method="post">


        <div class="container-fluid">
            <div class="row">
                <div class="cell-12">

                    <div class="mb-3" data-role="accordion"
                         data-one-frame="false"
                         data-show-active="true">

                        <div class="frame active">
                            <div class="heading">Payroll Details</div>
                            <div class="content">
                                <div class="p-2">
                                    <input type="hidden" asp-for="Id" />


                                    <div class="row mb-3">
                                        <label class="text-small text-bold cell-sm-1">Employee No</label>
                                        <div class="cell-sm-4">

                                            <input data-role="input" data-prepend="<span class='mif-user'></span>" class="form-control text-small rounded" type="text" asp-for="EmployeeId" readonly="readonly" />

                                        </div>
                                        <div class="cell-sm-1"></div>
                                        <label class="text-small text-bold cell-sm-1">Other names</label>
                                        <div class="cell-sm-4">
                                            <input data-role="input" data-prepend="<span class='mif-user'></span>" class="form-control rounded" type="text" asp-for="OtherNames" readonly="readonly" />

                                        </div>

                                    </div>
                                    <div class="row mb-3">
                                        <label class="text-small text-bold cell-sm-1">Surname</label>
                                        <div class="cell-sm-4">

                                            <input data-role="input" data-prepend="<span class='mif-user'></span>" class="form-control rounded" type="text" asp-for="Surname" readonly="readonly" />


                                        </div>
                                        <div class="cell-sm-1"></div>
                                        <label class="text-small text-bold cell-sm-1">Present Grade Level</label>
                                        <div class="cell-sm-4">
                                            <input data-role="input" data-prepend="<span class='mif-user'></span>" class="form-control rounded" type="text" asp-for="Grade" readonly="readonly" />

                                        </div>

                                    </div>

                                    <div class="row mb-3">
                                        <label class="text-small text-bold cell-sm-1">Basic Salary</label>
                                        <div class="cell-sm-4">

                                            <input id="txtbasicsal" data-role="input" data-prepend="<span class='mif-user'></span>" class="form-control rounded" type="text" asp-for="Basic" readonly="readonly" />


                                        </div>
                                        <div class="cell-sm-1"></div>
                                        <label class="text-small text-bold cell-sm-1">For Period</label>
                                        <div class="cell-sm-4">
                                            <input data-role="input" data-prepend="<span class='mif-user'></span>" class="form-control rounded" type="text" asp-for="Period" readonly="readonly" />
                                        </div>

                                    </div>

                                    <div class="row mb-3">

                                        <label class="text-small text-bold cell-sm-1">Housing Allowance</label>
                                        <div class="cell-sm-4">

                                            <input id="txthousingallowance" data-role="input" data-prepend="₦" class="form-control rounded" type="text" asp-for="HousingAllowance" readonly="readonly" />



                                        </div>
                                        <div class="cell-sm-1"></div>
                                        <label class="text-small text-bold cell-sm-1">Transport Allowance</label>
                                        <div class="cell-sm-4">

                                            <input id="txttransportallowance" data-role="input" data-prepend="₦" class="form-control rounded" type="text" asp-for="TransportAllowance" readonly="readonly" />

                                        </div>
                                    </div>

                             

                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="mb-3" data-role="accordion"
                         data-one-frame="false"
                         data-show-active="true">

                        <div class="frame active">
                            <div class="heading">Paysheet Details</div>
                            <div class="content">
                                <div class="p-2">

                                    <div class="row mb-3">

                                        <div class="text-small text-bold cell-sm-6">
                                            <label class="text-small text-bold">Allowances</label>
                                            <br />
                                            <table data-cls-table-top="row flex-nowrap" data-cls-search="cell-md-8" class="table striped rounded row-hover">
                                                <thead>

                                                </thead>
                                                <tbody>

                                                    @for (int i = 0; i < Model.PayslipAllowances.Count; i++)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <label class="text-small bg-grayWhite text-bold">@Model.PayslipAllowances[i].Allowance</label>

                                                            </td>

                                                            <td>
                                                                <input data-cls-input="txtallowance" class="rounded" data-role="input" asp-for="@Model.PayslipAllowances[i].AllowanceAmount" data-prepend="₦" type="text" />

                                                            </td>


                                                        </tr>
                                                        <tr hidden="hidden">
                                                            <td> <input data-role="input" asp-for="@Model.PayslipAllowances[i].Allowance" hidden="hidden"></td>
                                                            <td> <input data-role="input" asp-for="@Model.PayslipAllowances[i].AllowId" hidden="hidden"></td>
                                                            <td> <input data-role="input" asp-for="@Model.PayslipAllowances[i].Id" hidden="hidden"></td>
                                                        </tr>
                                                    }

                                                </tbody>
                                                <tfoot>

                                                </tfoot>
                                            </table>
                                        </div>

                                        <div class="text-small text-bold cell-sm-6">
                                            <label class="text-small mb-3 text-bold">Deductions</label>
                                            <br />
                                            <table data-cls-table-top="row flex-nowrap" data-cls-search="cell-md-8" class="table striped rounded row-hover">
                                                <thead>

                                                </thead>
                                                <tbody>

                                                    @for (int i = 0; i < Model.PayslipDeductions.Count; i++)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <label class="text-small bg-grayWhite text-bold">@Model.PayslipDeductions[i].Deductions</label>

                                                            </td>

                                                            <td>
                                                                <input data-cls-input="txtdeductions" data-role="input" asp-for="@Model.PayslipDeductions[i].DeductionAmount" data-prepend="₦" class="form-control rounded" type="text" />
                                                            </td>


                                                        </tr>
                                                        <tr hidden="hidden">
                                                            <td> <input data-role="input" asp-for="@Model.PayslipDeductions[i].Deductions" hidden="hidden"></td>
                                                            <td> <input data-role="input" asp-for="@Model.PayslipDeductions[i].Id" hidden="hidden"></td>
                                                        </tr>
                                                    }

                                                </tbody>
                                                <tfoot>

                                                </tfoot>
                                            </table>
                                            <br />
                                            <div class="text-center">
                                                <a id="btncompute" class="button small primary" href="#"><i class="mif-calculator"></i> Compute</a>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="mb-3" data-role="accordion"
                         data-one-frame="false"
                         data-show-active="true">

                        <div class="frame active">
                            <div class="heading">Transactions Details</div>
                            <div class="content">
                                <div class="p-2">
                                    <div class="row mb-3">
                                        <label class="text-small text-bold cell-sm-1">Gross Pay</label>
                                        <div class="cell-sm-4">
                                            <input id="txtgross" data-role="input" asp-for="GrossPay" data-prepend="₦" class="form-control text-bold rounded" type="text" readonly="readonly" />

                                        </div>
                                        <div class="cell-sm-1"></div>
                                        <label class="text-small text-bold cell-sm-1">Deduction SubTotal</label>
                                        <div class="cell-sm-4">
                                            <input id="txtdedtotal" data-role="input" asp-for="Dtotal" data-prepend="₦" class="form-control text-bold rounded" type="text" readonly="readonly" />
                                        </div>

                                    </div>
                                    <div class="row mb-3">
                                        <label class="text-small text-bold cell-sm-1">Net Pay</label>
                                        <div class="text-small text-bold cell-sm-4">
                                            <input id="txtnetpay" data-role="input" asp-for="NetPay" data-prepend="₦" class="form-control text-bold rounded" type="text" readonly="readonly" />
                                        </div>
                                        <div class="cell-sm-1"></div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="text-center">
                            <span class="">
                                <a class="button alert" onclick="goBack()">Cancel</a>  <button type="submit" class="button primary" asp-page-handler="Save"> <i class="fas fa-save"></i> Submit </button>
                            </span>

                        </div>


                    </div>
                </div>


            </div>

            <div>


            </div>

        </div>
    </form>

</div>

<script>
    $(document).ready(function () {
        //TO SUM ALLOWANCES

        $("#btncompute").click(function () {

            sumallowance();
            //sum deductions
            sumdeductions();
        });
    });

</script>

<script>
    function sumdeductions() {
        var deductiontotal = 0;
        var NetPay = 0;
        var Grosspay = $("#txtgross").val();
        $(".txtdeductions").each(function () {
            var deductions = $(this).val();
            if ($.isNumeric(deductions)) {
                deductiontotal += parseFloat(deductions);
                console.log(deductiontotal);
                $("#txtdedtotal").val(deductiontotal.toFixed(2));
                NetPay = Number(Grosspay) - Number(deductiontotal);
                $("#txtnetpay").val(NetPay.toFixed(2));
            }
        });
    }

    function sumallowance() {
        var sum = 0;
        var Grosspay = 0;
        var basic = $("#txtbasicsal").val().split(",").join("");
        var HA = $("#txthousingallowance").val().split(",").join("");
        var TA = $("#txttransportallowance").val().split(",").join("");
        $(".txtallowance").each(function () {
            var allowance = $(this).val();
            if ($.isNumeric(allowance)) {
                sum += parseFloat(allowance);
                Grosspay = Number(sum) + Number(basic) + Number(HA) + Number(TA);
                $("#txtgross").val(Grosspay.toFixed(2));
            }
        });
    }
</script>