﻿@page
@model Plumbago_Brokerage.Pages.Payroll.MonthlyVarianceModel
@{
}


<div class="container-fluid">
    <div>
        <h3>
            Employee Monthly Variance
        </h3>

    </div>

    <hr />
</div>


<form method="post">
    <div class="border-none" data-cls-panel="rounded" data-role="panel">

        <partial name="SearchFilterArea" model="Model.Searchfilter" />
        <partial name="TableAreaPartial" model="Model.TableList" />

        <button type="submit" class="button primary" asp-page-handler="PrintPayslip"><i class="fas fa-print"></i> Print Payslip</button>

        <button type="submit" class="button alert" asp-page-handler="Delete"><i class="fas fa-trash"></i> Delete</button>
    </div>
</form>