﻿<div class="row mb-3">
    <label class="text-small text-bold cell-sm-1">Pay Group</label>
    <div class="cell-sm-4">
        <select asp-items="Model.Paygroups" class="rounded" data-role="select">
            <option disabled value="">- select -</option>

        </select>
    </div>
    <div class="cell-sm-1"></div>
    <label class="text-small text-bold cell-sm-1">Grade Level</label>
    <div class="cell-sm-4">
        <select asp-items="Model.GradeLevel" class="rounded" data-role="select">
            <option disabled value="">- select -</option>

        </select>
    </div>

</div>



<script>
    $(function () {
        $("#ddlcountry").change(function () {
            $.getJSON("/Home/GetStatelist", { cid: $("#ddlcountry").val() }, function (d) {
                var row = "";
                $("#ddlstate").empty();
                $.each(d, function (i, v) {
                    row += "<option value=" + v.value + ">" + v.text + "</option>";
                });
                $("#ddlstate").html(row);
            })
        })
        $("#ddlstate").change(function () {
            $.getJSON("/Home/GetCitylist", { Sid: $("#ddlstate").val() }, function (d) {
                var row = "";
                $("#ddlcity").empty();
                $.each(d, function (i, v) {
                    row += "<option value=" + v.value + ">" + v.text + "</option>";
                });
                $("#ddlcity").html(row);
            })
        })
    })
</script>