﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Plumbago HR</title>
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
    <!-- Required meta tags -->
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/toastr.css" rel="stylesheet" />
    @* devexpress *@
    <link rel="stylesheet" href="~/css/thirdparty.bundle.css" />
    <script src="~/js/thirdparty.bundle.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    @* Apex *@
    <link href="~/css/Apex/styles.css" rel="stylesheet" />
    <script src="~/css/Apex/apexcharts.js"></script>



    <script src="https://cdn.ckeditor.com/4.16.2/full/ckeditor.js"></script>
</head>
<body style="background: #f9f7fb;">
    @*<partial name="_NavbarPartial" />*@
    @await Component.InvokeAsync("Navbar")

    <div style="background: #f9f7fb;" class="container-fluid">
        <div class="grid">
            <div class="row pt-15">
                <div class="cell-md-2">
                    @* search filter side *@

                </div>
                <div class="cell-md-8">
                    <div class=" ">
                        <br />
                        @RenderBody()
                        <hr />
                        <footer>
                            <p>&copy; @DateTime.Now.Year Plumbago HRMS - <span class="fg-red">By Dijix Global Solutions</span></p>
                        </footer>
                    </div>
                </div>

                <div class="cell-md-2">
                    @* search filter side *@


                </div>
            </div>

        </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
    <script src="~/js/toastr.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <partial name="_ValidationScriptsPartial" />

    @RenderSection("Scripts", required: false)

    @* for progress loading *@
    <script>

        $("#myform").submit(function (event) {
            // Animate loader
            var isValid = $('#myform').valid();
            if (isValid) {
                // Animate loader
                //$("#progress").show();
                Metro.activity.open({
                    type: 'cycle'
                    //overlayColor: '#fff',
                    //overlayAlpha: 1
                });
            }
        });
        $(".showloading").click(function () {
            Metro.activity.open({
                type: 'cycle'
                //overlayColor: '#fff',
                //overlayAlpha: 1
            });
        });

    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            toastr.options = {
                "positionClass": "toast-bottom-center"
            }
        @if (TempData["success"] != null)
         {
        @:toastr.success('@TempData["message"]');
     TempData.Clear();
          }
          else if (TempData["info"]!= null)
          {
        @:toastr.info('@TempData["message"]');
          TempData.Clear();
          }
        else if (TempData["error"]!= null)
          {
        @:toastr.error('@TempData["message"]');
          TempData.Clear();
          }
    });
    </script>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <script>
        function askconfirm() {
            return confirm("Are you sure you want to do this?");
        }
    </script>
    @*<script>
            var cal = $(".datepicker").data("calendarpicker");

            cal.val("1972/12/21");
        </script>*@

</body>
</html>
