﻿@if ((string)ViewData["type"] == "error")
{
    <div class="alert2 text-small alert-dismissible rounded alert-danger-alt" role="alert">

        <span class="closebtn" onclick="fadeout()">&times;</span>
        @ViewData["message"]
    </div>
    <br />
}

@if ((string)ViewData["type"] == "info")
{
    <div class="alert2 text-small alert-dismissible rounded alert-primary-alt" role="alert">

        <span class="closebtn" onclick="fadeout()">&times;</span>
        @ViewData["message"]
    </div>
    <br />
}




<script>
    function fadeout() {
        $('.alert2').fadeOut();
    }
</script>