﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Plumbago_Brokerage.ViewComponents.SearchFilterModel
@* Admin *@
@if (Model.Groupname == "adm_users")
{
    <div data-role="accordion"
         data-one-frame="false"
         data-show-active="true">

        <div class="frame">
            <div class="heading">Search filter</div>
            <div class="content">
                <div class="p-2">
                    <div class="grid">
                        <div class="row">
                            <div class="cell">
                                <div class="form-group">
                                    <label class="text-bold">Filter by</label>
                                    <select asp-for="Option" class="form-control">
                                        <option value="Fullname">FullName</option>
                                        <option value="Username">Username</option>
                                    </select>

                                </div>
                            </div>


                            <div class="cell">
                                <div class="form-group">
                                    <label class="text-bold">Contains</label>
                                    <input data-role="input" type="text" asp-for="Contains" placeholder="Contains" />

                                </div>
                            </div>

                            <div class="cell">
                                <div class="form-group">
                                    <label class="text-bold">Date between</label>

                                    <input type="text" asp-for="From" data-role="calendarpicker" data-cls-calendar="compact">
                                </div>
                            </div>
                            <div class="cell">
                                <div class="form-group">
                                    <label class="text-bold">And</label>

                                    <input type="text" asp-for="To" data-role="calendarpicker" data-cls-calendar="compact">
                                </div>
                            </div>
                            <div class="cell">
                                <div class="form-group">
                                    <br />
                                    <button type="submit" class="button showloading primary" asp-page-handler="Search">
                                        <i class="fas fa-search"></i> Search
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



@* HR *@

@if (Model.Groupname == "hr_employees")
{
    <div data-role="accordion"
         data-one-frame="false"
         data-show-active="true">

        <div class="frame">
            <div class="heading">Search filter</div>
            <div class="content">
                <div class="p-2">
                    <div class="grid">
                        <EditForm Model="searchfilter" OnValidSubmit="HandleValidSubmit">
                            <div class="row">
                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">Filter by</label>
                                        <select id="searchfilteroption" data-role="select" asp-for="Option" class="rounded">
                                            <option selected="selected" value="">-- select --</option>
                                            <option value="Name">Name</option>
                                            <option value="EmployeeID">Employee ID</option>
                                        </select>

                                    </div>
                                </div>


                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">Contains</label>
                                        <input data-role="input" type="text" asp-for="Contains" class="rounded" placeholder="Contains" />

                                    </div>
                                </div>

                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">Pay Sheet</label>
                                        <select asp-for="Paysheet" class="rounded" data-role="select" asp-items="Model.Paysheets">
                                            <option selected="selected" value="0">- select -</option>
                                        </select>


                                    </div>
                                </div>

                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">Branch</label>
                                        <select name="Branch" asp-for="Branch" class="rounded" data-role="select" asp-items="Model.Branches">
                                            <option selected="selected" value="NULL">- select -</option>
                                        </select>

                                    </div>
                                </div>

                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">Date between</label>

                                        <input type="text" asp-for="From" class="rounded" data-role="calendarpicker" data-cls-calendar="compact">
                                    </div>
                                </div>
                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">And</label>

                                        <input type="text" asp-for="To" class="rounded" data-role="calendarpicker" data-cls-calendar="compact">
                                    </div>
                                </div>
                                <div class="cell">
                                    <div class="form-group">
                                        <br />
                                        <button type="submit" class="button showloading primary" asp-page-handler="Search">
                                            <i class="fas fa-search"></i> Search
                                        </button>

                                    </div>
                                </div>



                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.Groupname == "hr_employee_promotions")
{
    <div data-role="accordion"
         data-one-frame="false"
         data-show-active="true">

        <div class="frame">
            <div class="heading">Search filter</div>
            <div class="content">
                <div class="p-2">
                    <div class="grid">
                        <EditForm Model="searchfilter" OnValidSubmit="HandleValidSubmit">
                            <div class="row">
                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">Filter by</label>
                                        <select id="searchfilteroption" data-role="select" asp-for="Option" class="rounded">
                                            <option selected="selected" value="">-- select --</option>
                                            <option value="Name">Name</option>
                                            <option value="EmployeeID">Employee ID</option>
                                        </select>

                                    </div>
                                </div>


                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">Contains</label>
                                        <input data-role="input" type="text" asp-for="Contains" class="rounded" placeholder="Contains" />

                                    </div>
                                </div>

                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">Pay Sheet</label>
                                        <select asp-for="Paysheet" class="rounded" data-role="select" asp-items="Model.Paysheets">
                                            <option selected="selected" value="0">- select -</option>
                                        </select>


                                    </div>
                                </div>


                                <div class="cell">
                                    <div class="form-group">
                                        <br />
                                        <button type="submit" class="button showloading primary" asp-page-handler="Search">
                                            <i class="fas fa-search"></i> Search
                                        </button>

                                    </div>
                                </div>



                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@if (Model.Groupname == "hr_employee_medicalprocessing")
{
    <div data-role="accordion"
         data-one-frame="false"
         data-show-active="true">

        <div class="frame">
            <div class="heading">Search filter</div>
            <div class="content">
                <div class="p-2">
                    <div class="grid">
                        <EditForm Model="searchfilter" OnValidSubmit="HandleValidSubmit">
                            <div class="row">
                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">Filter by</label>
                                        <select id="searchfilteroption" data-role="select" asp-for="Option" class="rounded">
                                            <option selected="selected" value="">-- select --</option>
                                            <option value="HospitalName">Hospital</option>

                                        </select>

                                    </div>
                                </div>


                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">Contains</label>
                                        <input data-role="input" type="text" asp-for="Contains" class="rounded" placeholder="Contains" />

                                    </div>
                                </div>

                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">Date between</label>

                                        <input type="text" asp-for="From" class="rounded" data-role="calendarpicker" data-cls-calendar="compact">
                                    </div>
                                </div>
                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">And</label>

                                        <input type="text" asp-for="To" class="rounded" data-role="calendarpicker" data-cls-calendar="compact">
                                    </div>
                                </div>


                                <div class="cell">
                                    <div class="form-group">
                                        <br />
                                        <button type="submit" class="button showloading primary" asp-page-handler="Search">
                                            <i class="fas fa-search"></i> Search
                                        </button>

                                    </div>
                                </div>



                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@if (Model.Groupname == "hr_employee_leaveprocessing")
{
    <div data-role="accordion"
         data-one-frame="false"
         data-show-active="true">

        <div class="frame">
            <div class="heading">Search filter</div>
            <div class="content">
                <div class="p-2">
                    <div class="grid">
                        <EditForm Model="searchfilter" OnValidSubmit="HandleValidSubmit">
                            <div class="row">
                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">Filter by</label>
                                        <select id="searchfilteroption" data-role="select" asp-for="Option" class="rounded">
                                            <option selected="selected" value="">-- select --</option>
                                            <option value="Name">Name</option>
                                            <option value="EmployeeID">Employee ID</option>

                                        </select>

                                    </div>
                                </div>


                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">Contains</label>
                                        <input data-role="input" type="text" asp-for="Contains" class="rounded" placeholder="Contains" />

                                    </div>
                                </div>
                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">Status</label>
                                        <select id="searchfilteroption" data-role="select" asp-for="Status" class="rounded">
                                            <option selected="selected" value="">-- select --</option>
                                            <option value="PENDING">PENDING</option>
                                            <option value="APPROVED">APPROVED</option>
                                            <option value="CONFIRMED">CONFIRMED</option>

                                        </select>
                                    </div>
                                </div>

                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">Date between</label>

                                        <input type="text" asp-for="From" class="rounded" data-role="calendarpicker" data-cls-calendar="compact">
                                    </div>
                                </div>
                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">And</label>

                                        <input type="text" asp-for="To" class="rounded" data-role="calendarpicker" data-cls-calendar="compact">
                                    </div>
                                </div>


                                <div class="cell">
                                    <div class="form-group">
                                        <br />
                                        <button type="submit" class="button showloading primary" asp-page-handler="Search">
                                            <i class="fas fa-search"></i> Search
                                        </button>

                                    </div>
                                </div>



                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@if (Model.Groupname == "hr_employee_loanprocessing")
{
    <div data-role="accordion"
         data-one-frame="false"
         data-show-active="true">

        <div class="frame">
            <div class="heading">Search filter</div>
            <div class="content">
                <div class="p-2">
                    <div class="grid">
                        <EditForm Model="searchfilter" OnValidSubmit="HandleValidSubmit">
                            <div class="row">
                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">Filter by</label>
                                        <select id="searchfilteroption" data-role="select" asp-for="Option" class="rounded">
                                            <option selected="selected" value="">-- select --</option>
                                            <option value="Name">Name</option>
                                            <option value="EmployeeID">Employee ID</option>

                                        </select>

                                    </div>
                                </div>


                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">Contains</label>
                                        <input data-role="input" type="text" asp-for="Contains" class="rounded" placeholder="Contains" />

                                    </div>
                                </div>
                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">Status</label>
                                        <select id="searchfilteroption" data-role="select" asp-for="Status" class="rounded">
                                            <option selected="selected" value="">-- select --</option>
                                            <option value="PENDING">PENDING</option>
                                            <option value="APPROVED">APPROVED</option>
                                            <option value="CONFIRMED">CONFIRMED</option>

                                        </select>
                                    </div>
                                </div>

                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">Date between</label>

                                        <input type="text" asp-for="From" class="rounded" data-role="calendarpicker" data-cls-calendar="compact">
                                    </div>
                                </div>
                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">And</label>

                                        <input type="text" asp-for="To" class="rounded" data-role="calendarpicker" data-cls-calendar="compact">
                                    </div>
                                </div>


                                <div class="cell">
                                    <div class="form-group">
                                        <br />
                                        <button type="submit" class="button showloading primary" asp-page-handler="Search">
                                            <i class="fas fa-search"></i> Search
                                        </button>

                                    </div>
                                </div>



                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@* PAYROLL *@
@if (Model.Groupname == "payroll_emp_payroll")
{
    <div data-role="accordion"
         data-one-frame="false"
         data-show-active="true">

        <div class="frame">
            <div class="heading">Search filter</div>
            <div class="content">
                <div class="p-2">
                    <div class="grid">
                        <EditForm Model="searchfilter" OnValidSubmit="HandleValidSubmit">
                            <div class="row">
                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">Filter by</label>
                                        <select id="searchfilteroption" data-role="select" asp-for="Option" class="rounded">
                                            <option selected="selected" value="">-- select --</option>
                                            <option value="Name">Name</option>
                                            <option value="EmployeeID">Employee ID</option>
                                        </select>

                                    </div>
                                </div>


                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">Contains</label>
                                        <input data-role="input" type="text" asp-for="Contains" class="rounded" placeholder="Contains" />

                                    </div>
                                </div>

                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">Pay Sheet</label>
                                        <select asp-for="Paysheet" class="rounded" data-role="select" asp-items="Model.Paysheets">
                                            <option selected="selected" value="0">- select -</option>
                                        </select>


                                    </div>
                                </div>

                                <div class="cell">
                                    <div class="form-group">
                                        <br />
                                        <button type="submit" class="button showloading primary" asp-page-handler="Search">
                                            <i class="fas fa-search"></i> Search
                                        </button>

                                    </div>
                                </div>



                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (Model.Groupname == "payroll_monthly_variance" || Model.Groupname == "payroll_EmployeePayroll_Details")
{
    <div data-role="accordion"
         data-one-frame="false"
         data-show-active="true">

        <div class="frame">
            <div class="heading">Search filter</div>
            <div class="content">
                <div class="p-2">
                    <div class="grid">
                        <EditForm Model="searchfilter" OnValidSubmit="HandleValidSubmit">
                            <div class="row">
                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">Filter by</label>
                                        <select id="searchfilteroption" data-role="select" asp-for="Option" class="rounded">
                                            <option selected="selected" value="">-- select --</option>
                                            <option value="Name">Name</option>
                                            <option value="EmployeeID">Employee ID</option>
                                        </select>

                                    </div>
                                </div>


                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">Contains</label>
                                        <input data-role="input" type="text" asp-for="Contains" class="rounded" placeholder="Contains" />

                                    </div>
                                </div>

                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">Pay Sheet</label>
                                        <select asp-for="Paysheet" class="rounded" data-role="select" asp-items="Model.Paysheets">
                                            <option selected="selected" value="0">- select -</option>
                                        </select>


                                    </div>
                                </div>

                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">Period</label>
                                        <select asp-for="Period" class="rounded" data-role="select" asp-items="Model.Periods">
                                            <option selected="selected" value="">- select -</option>
                                        </select>

                                    </div>
                                </div>

                                <div class="cell">
                                    <div class="form-group">
                                        <br />
                                        <button type="submit" class="button showloading primary" asp-page-handler="Search">
                                            <i class="fas fa-search"></i> Search
                                        </button>

                                    </div>
                                </div>



                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@*KPIMANAGER*@
@if (Model.Groupname == "KPM_kpi")
{
    <div data-role="accordion"
         data-one-frame="false"
         data-show-active="true">

        <div class="frame">
            <div class="heading">Search filter</div>
            <div class="content">
                <div class="p-2">
                    <div class="grid">
                        <EditForm Model="searchfilter" OnValidSubmit="HandleValidSubmit">
                            <div class="row">
                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">Filter by Department</label>
                                        <select id="searchfilteroption" data-role="select" asp-for="Department" asp-items="Model.Departments" class="rounded">
                                            <option selected="selected" value="">-- select --</option>

                                        </select>

                                    </div>
                                </div>


                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">And Period</label>
                                        <select asp-for="Period" class="rounded" data-role="select" asp-items="Model.Periods">
                                            <option selected="selected" value="NULL">- select -</option>
                                        </select>

                                    </div>
                                </div>

                                <div class="cell">
                                    <div class="form-group">
                                        <br />
                                        <button type="submit" class="button showloading primary" asp-page-handler="Search">
                                            <i class="fas fa-search"></i> Search
                                        </button>

                                    </div>
                                </div>

                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@if (Model.Groupname == "KPM_Issue")
{
    <div data-role="accordion"
         data-one-frame="false"
         data-show-active="true">

        <div class="frame">
            <div class="heading">Search filter</div>
            <div class="content">
                <div class="p-2">
                    <div class="grid">
                        <EditForm Model="searchfilter" OnValidSubmit="HandleValidSubmit">
                            <div class="row">
                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">Filter by</label>
                                        <select id="searchfilteroption" data-role="select" asp-for="Option" class="rounded">
                                            <option selected="selected" value="">-- select --</option>
                                            <option value="Name">Name</option>
                                            <option value="EmployeeID">Employee ID</option>
                                        </select>

                                    </div>
                                </div>


                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">Contains</label>
                                        <input data-role="input" type="text" asp-for="Contains" class="rounded" placeholder="Contains" />

                                    </div>
                                </div>

                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">Department</label>
                                        <select id="searchfilteroption" data-role="select" asp-for="Department" asp-items="Model.Departments" class="rounded">
                                            <option selected="selected" value="">-- select --</option>

                                        </select>

                                    </div>
                                </div>

                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">Date between</label>

                                        <input type="text" asp-for="From" class="rounded" data-role="calendarpicker" data-cls-calendar="compact">
                                    </div>
                                </div>
                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">And</label>

                                        <input type="text" asp-for="To" class="rounded" data-role="calendarpicker" data-cls-calendar="compact">
                                    </div>
                                </div>
                                <div class="cell">
                                    <div class="form-group">
                                        <br />
                                        <button type="submit" class="button showloading primary" asp-page-handler="Search">
                                            <i class="fas fa-search"></i> Search
                                        </button>

                                    </div>
                                </div>



                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@* generalsettings *@

@if (Model.Groupname == "gs_allowancerates")
{
    <div data-role="accordion"
         data-one-frame="false"
         data-show-active="true">

        <div class="frame">
            <div class="heading">Search filter</div>
            <div class="content">
                <div class="p-2">
                    <div class="grid">
                        <EditForm Model="searchfilter" OnValidSubmit="HandleValidSubmit">
                            <div class="row">
                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">Filter by </label>
                                        <select id="searchfilteroption" data-role="select" asp-for="Option" class="rounded">
                                            <option selected="selected" value="">-- select --</option>
                                            <option value="AllowID">Allowance ID</option>
                                            <option value="AllowName">Allowance Name</option>
                                        </select>

                                    </div>
                                </div>

                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">Contains</label>
                                        <input data-role="input" type="text" asp-for="Contains" class="rounded" placeholder="Contains" />

                                    </div>
                                </div>

                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">Pay Sheet</label>
                                        <select asp-for="Paysheet" class="rounded" data-role="select" asp-items="Model.Paysheets">
                                            <option selected="selected" value="0">- select -</option>
                                        </select>


                                    </div>
                                </div>

                                <div class="cell">
                                    <div class="form-group">
                                        <br />
                                        <button type="submit" class="button showloading primary" asp-page-handler="Search">
                                            <i class="fas fa-search"></i> Search
                                        </button>

                                    </div>
                                </div>

                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@if (Model.Groupname == "gs_deductionrates")
{
    <div data-role="accordion"
         data-one-frame="false"
         data-show-active="true">

        <div class="frame">
            <div class="heading">Search filter</div>
            <div class="content">
                <div class="p-2">
                    <div class="grid">
                        <EditForm Model="searchfilter" OnValidSubmit="HandleValidSubmit">
                            <div class="row">
                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">Filter by </label>
                                        <select id="searchfilteroption" data-role="select" asp-for="Option" class="rounded">
                                            <option selected="selected" value="">-- select --</option>
                                            <option value="DeductionID">Deduction ID</option>
                                            <option value="AllowName">Deduction Name</option>
                                        </select>

                                    </div>
                                </div>

                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">Contains</label>
                                        <input data-role="input" type="text" asp-for="Contains" class="rounded" placeholder="Contains" />

                                    </div>
                                </div>

                                <div class="cell">
                                    <div class="form-group">
                                        <label class="text-small text-bold">Pay Sheet</label>
                                        <select asp-for="Paysheet" class="rounded" data-role="select" asp-items="Model.Paysheets">
                                            <option selected="selected" value="0">- select -</option>
                                        </select>


                                    </div>
                                </div>

                                <div class="cell">
                                    <div class="form-group">
                                        <br />
                                        <button type="submit" class="button showloading primary" asp-page-handler="Search">
                                            <i class="fas fa-search"></i> Search
                                        </button>

                                    </div>
                                </div>

                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </div>
}