﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Plumbago_Brokerage.Data.Global
@inject ModMain modmain
@model Plumbago_Brokerage.ViewComponents.TableListVM
@* HR *@
@if (Model.Groupname == "hr_employees")
{

    <div class="table-container rounded">
        <table data-cls-table-top="row flex-nowrap" data-cls-search="cell-md-8" data-role="table" data-check="true" class="table striped rounded row-hover" data-check-name="SelectedIDs" data-check-col-index="0">
            <thead>
                <tr>
                    <th>#Employee ID</th>
                    <th>Employee Name</th>
                    <th>Sex</th>
                    <th>Branch</th>
                    <th>Grade</th>
                    <th>Department</th>
                    <th>Hired On</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>

                @foreach (var emp in Model.Employees)
                {
                    <tr>
                        <td>@emp.EmployeeId</td>
                        <td>@emp.Surname @emp.OtherNames</td>
                        <td>@emp.Sex</td>
                        <td>@emp.Branch</td>
                        <td>@emp.Grade</td>
                        <td>@emp.Dept</td>
                        <td>@modmain.FormatDate(emp.HireDate.Value)</td>
                        <td>
                            <a class="showloading" href='/HumanResources/Employees_edit?id=@emp.EmployeeId'><i class="fas fa-edit showloading"></i></a>
                            @*<button class="btn btn-danger" data-toggle="modal" data-target="#deleteEmpModal" @onclick="DeleteConfirm(emp.EmployeeId)">Delete</button>*@
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
}
@if (Model.Groupname == "hr_Qualifications_edit")
{

    <div class="table-container rounded">
        <table data-cls-table-top="row flex-nowrap" data-cls-search="cell-md-8" data-role="table" data-check="true" class="table striped rounded row-hover" data-check-name="SelectedIDs" data-check-col-index="0">
            <thead>
                <tr>
                    <th>#Qualification ID</th>
                    <th>School Attended</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Certification Obtained</th>
                    <th>Submitted On</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>

                @foreach (var emp in Model.Educations)
                {
                    <tr>
                        <td>@emp.EducationId</td>
                        <td>@emp.SchoolAttend</td>
                        <td>@modmain.FormatDate(emp.Dfrom.Value)</td>
                        <td>@modmain.FormatDate(emp.Dto.Value)</td>
                        <td>@emp.CertObtained</td>
                        <td>@modmain.FormatDate(emp.SubmitOn.Value)</td>
                        <td>
                            <a href='/HumanResources/Qualifications_edit?id=@emp.EmployeeNo&detailid=@emp.EducationId' class="showloading" role="button"><i class="fas fa-edit"></i></a>

                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>

}
@if (Model.Groupname == "hr_interests_edit")
{
    <div class="table-container rounded">
        <table data-cls-table-top="row flex-nowrap" data-cls-search="cell-md-8" data-role="table" data-check="true" class="table striped rounded row-hover" data-check-name="SelectedIDs" data-check-col-index="0">
            <thead>
                <tr>
                    <th>#ID</th>
                    <th>Interest</th>
                    <th>Remarks</th>

                    <th></th>

                </tr>
            </thead>
            <tbody>

                @foreach (var emp in Model.Hobbies)
                {
                    <tr>
                        <td>@emp.Id</td>
                        <td>@emp.Name</td>

                        <td>@emp.Remarks</td>

                        <td>
                            <a href='/HumanResources/EmployeeInterests_Edit?id=@emp.EmployeeId&detailid=@emp.Id' class="showloading" role="button"><i class="fas fa-edit"></i></a>

                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
}
@if (Model.Groupname == "hr_EmployeeGradeLevel_Edit")
{
    <div class="table-container rounded">
        <table data-cls-table-top="row flex-nowrap" data-cls-search="cell-md-8" data-role="table" data-check="true" class="table striped rounded row-hover" data-check-name="SelectedIDs" data-check-col-index="0">
            <thead>
                <tr>
                    <th>#ID</th>
                    <th>Grade Level</th>
                    <th>Date</th>
                    <th>Basic</th>
                    <th>Transport</th>
                    <th>Housing</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>

                @foreach (var emp in Model.Promotions)
                {
                    <tr>
                        <td>@emp.PromotionId</td>
                        <td>@emp.Grade</td>
                        <td>@modmain.FormatDate(@emp.ProDate.Value)</td>
                        <td>@modmain.FormatNaira(@emp.Bs)</td>
                        <td>@modmain.FormatNaira(@emp.Ta)</td>
                        <td>@modmain.FormatNaira(@emp.Ha)</td>

                        <td>
                            <a class="showloading" href='/HumanResources/EmployeeGradeLevel_Edit?id=@emp.EmployeeId&detailid=@emp.PromotionId'><i class="fas fa-edit"></i></a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
}
@if (Model.Groupname == "hr_employee_promotions")
{
    <div class="table-container rounded">
        <table data-cls-table-top="row flex-nowrap" data-cls-search="cell-md-8" data-role="table" data-check="true" class="table striped rounded row-hover" data-check-name="SelectedIDs" data-check-col-index="0">
            <thead>
                <tr>
                    <th>#ID</th>
                    <th>Name</th>
                    <th>Grade Level</th>
                    <th>Date</th>
                    <th>Basic</th>
                    <th>Transport</th>
                    <th>Housing</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>

                @foreach (var emp in Model.PromotionsQueryable)
                {
                    <tr>
                        <td>@emp.PromotionId</td>
                        <td>@emp.Surname @emp.Othernames</td>
                        <td>@emp.Grade</td>
                        <td>@modmain.FormatDate(@emp.ProDate.Value)</td>
                        <td>@modmain.FormatNaira(@emp.Bs)</td>
                        <td>@modmain.FormatNaira(@emp.Ta)</td>
                        <td>@modmain.FormatNaira(@emp.Ha)</td>

                        <td>
                            <a href='/HumanResources/EmployeePromotions_Edit?id=@emp.EmployeeId&detailid=@emp.PromotionId' class="showloading" role="button"><i class="fas fa-edit"></i></a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
}
@if (Model.Groupname == "hr_medicals_edit")
{
    <div class="table-container rounded">
        <table data-cls-table-top="row flex-nowrap" data-cls-search="cell-md-8" data-role="table" data-check="true" class="table striped rounded row-hover" data-check-name="SelectedIDs" data-check-col-index="0">
            <thead>
                <tr>
                    <th>#ID</th>
                    <th>Type</th>
                    <th>Blood Group</th>
                    <th>Medical Limits</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>

                @foreach (var emp in Model.MedDetails)
                {
                    <tr>
                        <td>@emp.MedDetailsId</td>
                        <td>@emp.Type</td>
                        <td>@emp.Bloodgrp</td>
                        <td>@emp.Medicallimits</td>

                        <td>
                            <a href='/HumanResources/EmployeeMedicalDetails_Edit?id=@emp.EmployeeNo&detailid=@emp.MedDetailsId' class="showloading" role="button"><i class="fas fa-edit"></i></a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
}
@if (Model.Groupname == "hr_documents_edit")
{
    <div class="table-container rounded">
        <table data-cls-table-top="row flex-nowrap" data-cls-search="cell-md-8" data-role="table" data-check="true" class="table striped rounded row-hover" data-check-name="SelectedIDs" data-check-col-index="0">
            <thead>
                <tr>
                    <th>#ID</th>
                    <th>Type</th>

                    <th></th>

                </tr>
            </thead>
            <tbody>

                @foreach (var emp in Model.Documents)
                {
                    <tr>
                        <td>@emp.DocumentId</td>
                        <td>@emp.DocumentType</td>

                        <td>
                            <button type="submit" class="button showloading primary" asp-page-handler="Download"><i class="fas fa-download"></i></button>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
}
@if (Model.Groupname == "hr_employee_loanprocessing")
{
    <div class="table-container rounded">
        <table data-cls-table-top="row flex-nowrap" data-cls-search="cell-md-8" data-role="table" data-check="true" data-check-type="checkbox" class="table striped rounded row-hover" data-check-name="SelectedIDs" data-check-col-index="0">
            <thead>
                <tr>
                    <th>#Loan ID</th>
                    <th>Name</th>
                    <th>Loan Type</th>
                    <th>Amount</th>

                    <th>Amount Paid</th>
                    <th>Amount Due</th>
                    <th>Status</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>

                @foreach (var emp in Model.Loans)
                {
                    <tr>
                        <td>@emp.LoanId</td>
                        <td>@emp.Surname @emp.Othernames</td>

                        <td>@emp.LoanName</td>

                        <td>@modmain.FormatNaira(emp.Amount)</td>

                        <td>@modmain.FormatNaira(emp.AmtPaid)</td>
                        <td>@modmain.FormatNaira(emp.TotalAmtDue)</td>
                        <td><span class="badge inline @(emp.TransStatus == "PENDING" ? "bg-orange" : "bg-green") fg-white">@emp.TransStatus</span></td>


                        <td>
                            <a href='/HumanResources/LoanRequestsProcessing_Edit?id=@emp.LoanId' class="showloading" role="button"><i class="fas fa-edit"></i></a>

                        </td>
                    </tr>
                }
            </tbody>


        </table>

    </div>
}
@if (Model.Groupname == "hr_employee_medicalprocessing")
{
    <div class="table-container rounded">
        <table data-cls-table-top="row flex-nowrap" data-cls-search="cell-md-8" data-role="table" data-check="true" class="table striped rounded row-hover" data-check-name="SelectedIDs" data-check-col-index="0">
            <thead>
                <tr>
                    <th>#ID</th>
                    <th>Treatment</th>
                    <th>Hospital</th>
                    <th>Medical Limits</th>
                    <th>Submitted On</th>
                    <th>Status</th>


                    <th></th>

                </tr>
            </thead>
            <tbody>

                @foreach (var emp in Model.MedicalsQueryable)
                {
                    <tr>
                        <td>@emp.MedId</td>
                        <td>@emp.TreatDesc</td>
                        <td>@emp.MedHospital</td>
                        <td>@modmain.FormatNaira(emp.MedicalLimit)</td>
                        <td>@modmain.FormatDate(emp.SubmittedOn.Value)</td>
                        <td><span class="badge inline @(emp.Status == "PENDING" ? "bg-orange" : "bg-green") fg-white">@emp.Status</span></td>


                        <td>
                            <a href='/HumanResources/EmployeeMedicalProcessing_Edit?id=@emp.MedId' class="showloading" role="button"><i class="fas fa-edit"></i></a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>

}

@if (Model.Groupname == "hr_employee_leaveprocessing")
{
    <div class="table-container rounded">
        <table data-cls-table-top="row flex-nowrap" data-cls-search="cell-md-8" data-role="table" data-check="true" data-check-type="checkbox" class="table striped rounded row-hover" data-check-name="SelectedIDs" data-check-col-index="0">
            <thead>
                <tr>
                    <th>#Leave ID</th>
                    <th>Employee Name</th>
                    <th>Leave Type</th>
                    <th>Duration (Days)</th>
                    <th>Status</th>
                    <th>StartDate</th>
                    <th>EndDate</th>

                    <th></th>

                </tr>
            </thead>
            <tbody>

                @foreach (var emp in Model.Leave)
                {
                    <tr>
                        <td>@emp.LeaveId</td>
                        <td>@emp.Surname @emp.Othernames</td>
                        <td>@emp.LeaveType</td>
                        <td>@emp.Duration</td>
                        <td><span class="badge inline @(emp.TransStatus == "PENDING" ? "bg-orange" : "bg-green") fg-white">@emp.TransStatus</span></td>
                        <td>@modmain.FormatDate(emp.StartDate.Value)</td>
                        <td>@modmain.FormatDate(emp.EndDate.Value)</td>

                        <td>
                            <a href='/HumanResources/LeaveRequestsProcessing_Edit?id=@emp.LeaveId' class="showloading" role="button"><i class="fas fa-edit"></i></a>

                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
}

@*PAYROLL*@
@if (Model.Groupname == "payroll_emp_payroll")
{

    <div class="table-container rounded">
        <table data-cls-table-top="row flex-nowrap" data-cls-search="cell-md-8" data-role="table" data-check="true" class="table striped rounded row-hover" data-check-name="SelectedIDs" data-check-col-index="0">
            <thead>
                <tr>
                    <th>#Employee ID</th>
                    <th>Employee Name</th>
                    <th>Sex</th>
                    <th>Branch</th>
                    <th>Grade</th>
                    <th>Department</th>
                    <th>Hired On</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>

                @foreach (var emp in Model.Employees)
                {
                    <tr>
                        <td>@emp.EmployeeId</td>
                        <td>@emp.Surname @emp.OtherNames</td>
                        <td>@emp.Sex</td>
                        <td>@emp.Branch</td>
                        <td>@emp.Grade</td>
                        <td>@emp.Dept</td>
                        <td>@modmain.FormatDate(emp.SubmitOn.Value)</td>
                        <td>
                            <a href='/Payroll/EmployeePayroll_Edit?id=@emp.EmployeeId' class="showloading button small primary" role="button"><i class="fas fa-pen"></i> Do Payroll</a>
                            @*<button class="btn btn-danger" data-toggle="modal" data-target="#deleteEmpModal" @onclick="DeleteConfirm(emp.EmployeeId)">Delete</button>*@
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>


}
@if (Model.Groupname == "payroll_monthly_variance" || Model.Groupname == "payroll_EmployeePayroll_Details")
{

    <div class="table-container rounded">
        <table data-cls-table-top="row flex-nowrap" data-cls-search="cell-md-8" data-role="table" data-check="true" class="table striped rounded row-hover" data-check-name="SelectedIDs" data-check-col-index="0">
            <thead>
                <tr>
                    <th>#Employee ID</th>
                    <th>Employee Name</th>
                    <th>Grade</th>

                    <th>Period</th>

                    <th></th>

                </tr>
            </thead>
            <tbody>

                @foreach (var emp in Model.Payslips)
                {
                    <tr>
                        <td>@emp.EmployeeId</td>
                        <td>@emp.Surname @emp.OtherNames</td>

                        <td>@emp.Grade</td>
                        <td>@emp.Period</td>

                        <td>
                            @if (Model.Groupname == "payroll_monthly_variance")
                            {
                                <a href='/Payroll/MonthlyVariance_Edit?id=@emp.Id' class="showloading" role="button"><i class="fas fa-pen"></i></a>
                            }
                            @if (Model.Groupname == "payroll_EmployeePayroll_Details")
                            {
                                <a href='/Payroll/EmployeePayrollDetails_Edit?id=@emp.Id' class="showloading" role="button"><i class="fas fa-pen"></i></a>
                            }

                            @*<button class="btn btn-danger" data-toggle="modal" data-target="#deleteEmpModal" @onclick="DeleteConfirm(emp.EmployeeId)">Delete</button>*@
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>

}

@*KPIMANAGER*@

@if (Model.Groupname == "KPM_kpi")
{
    <div class="table-container rounded">
        <table data-cls-table-top="row flex-nowrap" data-cls-search="cell-md-8" data-role="table" data-check="true" class="table striped rounded row-hover" data-check-name="SelectedIDs" data-check-col-index="0">
            <thead>
                <tr>
                    <th>#ID</th>
                    <th>Department</th>
                    <th>Period</th>
                    <th>SubmittedOn</th>

                    <th></th>

                </tr>
            </thead>
            <tbody>

                @foreach (var emp in Model.Kpis)
                {
                    <tr>
                        <td>@emp.Id</td>
                        <td>@emp.Department</td>
                        <td>@emp.Period</td>
                        <td>@modmain.FormatDate(emp.Submittedon.Value)</td>
                        <td>
                            <a href='/KPIManager/KPIs_Edit?id=@emp.Id' class="showloading" role="button"><i class="fas fa-edit"></i></a>
                            @*<button class="btn btn-danger" data-toggle="modal" data-target="#deleteEmpModal" @onclick="DeleteConfirm(emp.EmployeeId)">Delete</button>*@
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
}
@if (Model.Groupname == "KPM_Issue")
{
    <div class="table-container rounded">
        <table data-cls-table-top="row flex-nowrap" data-cls-search="cell-md-8" data-role="table" data-check="true" class="table striped rounded row-hover" data-check-name="SelectedIDs" data-check-col-index="0">
            <thead>
                <tr>
                    <th>#Employee ID</th>
                    <th>Employee Name</th>
                    <th>Sex</th>
                    <th>Branch</th>
                    <th>Grade</th>
                    <th>Department</th>
                    <th>Hired On</th>


                </tr>
            </thead>
            <tbody>

                @foreach (var emp in Model.Employees)
                {
                    <tr>
                        <td>@emp.EmployeeId</td>
                        <td>@emp.Surname @emp.OtherNames</td>
                        <td>@emp.Sex</td>
                        <td>@emp.Branch</td>
                        <td>@emp.Grade</td>
                        <td>@emp.Dept</td>
                        <td>@modmain.FormatDate(emp.HireDate.Value)</td>

                    </tr>
                }
            </tbody>

        </table>

    </div>
}

@* ADMIN *@

@if (Model.Groupname == "adm_users")
{
    <div class="table-container">
        <table data-cls-table-top="row flex-nowrap" data-cls-search="cell-md-8" data-role="table" data-check="true" class="table striped row-hover">
            <thead>
                <tr>
                    <th>#User ID</th>
                    <th>Username</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Submitted On</th>
                    <th>Status</th>
                    <th>Last Login</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Users)
                {

                    <tr>
                        <td> <a class="showloading" href="~/Admin/Users_Edit?id=@item.UserId">@item.UserId</a> </td>

                        <td> <span id="">@item.Username</span> </td>

                        <td> <span id="">@item.FirstName @item.LastName</span> </td>
                        <td> <span id="">@item.Email</span> </td>
                        <td> <span id="">@item.SubmittedOn.Value.ToString("dd MMM yyyy")</span> </td>
                        <td>
                            <span class="badge inline bg-orange fg-white" id="">  @(item.Active == true ? "ACTIVE" : "INACTIVE")</span>
                        </td>
                        <td> <span id="">@(item.LastLoginDate.HasValue ? item.LastLoginDate.Value.ToString("dd-MMM-yyyy") : "")</span> </td>


                    </tr>
                }
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
}

@* SELFSERVICE *@
@if (Model.Groupname == "selfservice_leave")
{

    <div class="table-container rounded">
        <table data-cls-table-top="row flex-nowrap" data-cls-search="cell-md-8" data-role="table" data-check="true" data-check-type="checkbox" class="table striped rounded row-hover" data-check-name="SelectedIDs" data-check-col-index="0">
            <thead>
                <tr>
                    <th>#Leave ID</th>
                    <th>Employee Name</th>
                    <th>Leave Type</th>
                    <th>Duration (Days)</th>
                    <th>Status</th>
                    <th>StartDate</th>
                    <th>EndDate</th>

                    <th></th>

                </tr>
            </thead>
            <tbody>

                @foreach (var emp in Model.Leave)
                {
                    <tr>
                        <td>@emp.LeaveId</td>
                        <td>@emp.Surname @emp.Othernames</td>
                        <td>@emp.LeaveType</td>
                        <td>@emp.Duration</td>
                        <td><span class="badge inline bg-orange fg-white">@emp.TransStatus</span></td>
                        <td>@modmain.FormatDate(emp.StartDate.Value)</td>
                        <td>@modmain.FormatDate(emp.EndDate.Value)</td>

                        <td>
                            <a href='/SelfService/Leave_request_edit?id=@emp.LeaveId' class="showloading" role="button"><i class="fas fa-edit"></i></a>
                            @*<button class="btn btn-danger" data-toggle="modal" data-target="#deleteEmpModal" @onclick="DeleteConfirm(emp.EmployeeId)">Delete</button>*@
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>

}

@if (Model.Groupname == "selfservice_loan")
{

    <div class="table-container rounded">
        <table data-cls-table-top="row flex-nowrap" data-cls-search="cell-md-8" data-role="table" data-check="true" data-check-type="checkbox" class="table striped rounded row-hover" data-check-name="SelectedIDs" data-check-col-index="0">
            <thead>
                <tr>
                    <th>#Loan ID</th>
                    <th>Name</th>
                    <th>Loan Type</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Amount Paid</th>
                    <th>Amount Due</th>

                    <th></th>

                </tr>
            </thead>
            <tbody>

                @foreach (var emp in Model.Loans)
                {
                    <tr>
                        <td>@emp.LoanId</td>
                        <td>@emp.Surname @emp.Othernames</td>

                        <td>@emp.LoanName</td>

                        <td>@modmain.FormatNaira(emp.Amount)</td>
                        <td><span class="badge inline bg-orange fg-white">@emp.TransStatus</span></td>
                        <td>@modmain.FormatNaira(emp.AmtPaid)</td>
                        <td>@modmain.FormatNaira(emp.TotalAmtDue)</td>


                        <td>
                            <a href='/SelfService/Loan_request_edit?id=@emp.LoanId' class="showloading" role="button"><i class="fas fa-edit"></i></a>

                        </td>
                    </tr>
                }
            </tbody>


        </table>

    </div>

}

@if (Model.Groupname == "selfservice_reimbursements")
{

    <div class="table-container rounded">
        <table data-cls-table-top="row flex-nowrap" data-cls-search="cell-md-8" class="table striped rounded row-hover">
            <thead>
                <tr>
                    <th>#Reimbursement ID</th>
                    <th>Reimbursement Type</th>
                    <th>Expense date</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Submitted On</th>

                    <th></th>

                </tr>
            </thead>
            <tbody>

                @foreach (var emp in Model.Reimbursements)
                {
                    <tr>
                        <td>@emp.ExpenseId</td>
                        <td>@emp.ExpenseType</td>
                        <td>@emp.DateOfExpense</td>
                        <td>@modmain.FormatNaira(emp.Amount)</td>
                        <td><span class="badge inline bg-orange fg-white">@emp.TransStatus</span></td>
                        <td>@modmain.FormatDate(emp.SubmittedOn.Value)</td>


                        <td>
                            <a href='/SelfService/Reimbursement_edit?id=@emp.ExpenseId' class="showloading" role="button"><i class="fas fa-edit"></i></a>

                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>

}

@if (Model.Groupname == "selfservice_selfappraisal")
{
    <div class="table-container rounded">
        <table data-cls-table-top="row flex-nowrap" data-cls-search="cell-md-8" class="table striped rounded row-hover">
            <thead>
                <tr>
                    <th>#ID</th>
                    <th>Name</th>
                    <th>Reviewer</th>
                    <th>Review period</th>
                    <th>Status</th>
                    <th>Review date</th>

                    <th></th>

                </tr>
            </thead>
            <tbody>

                @foreach (var emp in Model.Appraisals)
                {
                    <tr>
                        <td>@emp.AppraisalId</td>
                        <td>@emp.Surname @emp.Othernames</td>
                        <td>@emp.Reviewer</td>
                        <td>@emp.ReviewPeriod</td>
                        <td><span class="badge inline @(emp.Status == "PENDING" ? "bg-orange" : "bg-green") fg-white">@emp.Status</span></td>
                        <td>@modmain.FormatDate(emp.ReviewDate.Value)</td>


                        <td>
                            <a href='/SelfService/SelfAppraisal_Edit?id=@emp.AppraisalId' class="showloading" role="button"><i class="fas fa-edit"></i></a>

                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
}
@if (Model.Groupname == "selfservice_payslips")
{
    <div class="table-container rounded">
        <table data-cls-table-top="row flex-nowrap" data-cls-search="cell-md-8" class="table striped rounded row-hover">
            <thead>
                <tr>
                    <th>#ID</th>
                    <th>Name</th>
                    <th>Period</th>


                    <th></th>

                </tr>
            </thead>
            <tbody>

                @foreach (var emp in Model.Payslips)
                {
                    <tr>
                        <td>@emp.Id</td>
                        <td>@emp.Surname @emp.OtherNames</td>
                        <td>@emp.Period</td>




                        <td>
                            <button type="submit" class="button showloading primary" asp-page-handler="Download"><i class="fas fa-download"></i></button>

                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
}
@if (Model.Groupname == "selfservice_trainingneeds")
{
    <div class="table-container rounded">
        <table data-cls-table-top="row flex-nowrap" data-cls-search="cell-md-8" class="table striped rounded row-hover">
            <thead>
                <tr>
                    <th>#ID</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Training</th>
                    <th>Status</th>


                    <th></th>

                </tr>
            </thead>
            <tbody>

                @foreach (var emp in Model.TrainingNeeds)
                {
                    <tr>
                        <td>@emp.TrainHisId</td>
                        <td>@modmain.FormatDate(emp.Startdate.Value)</td>
                        <td>@modmain.FormatDate(emp.Enddate.Value)</td>
                        <td>@emp.TrainDesc</td>
                        <td><span class="badge inline @(emp.Remarks == "PENDING" ? "bg-orange" : "bg-green") fg-white">@emp.Remarks</span></td>

                        <td>
                            <a href='/SelfService/TrainingNeeds_Edit?id=@emp.TrainHisId' class="showloading" role="button"><i class="fas fa-edit"></i></a>

                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
}

@* GeneralSettings *@

@if (Model.Groupname == "gs_allowancerates")
{
    <div class="table-container rounded">
        <table data-cls-table-top="row flex-nowrap" data-cls-search="cell-md-8" data-role="table" data-check="true" class="table striped rounded row-hover" data-check-name="SelectedIDs" data-check-col-index="0">
            <thead>
                <tr>
                    <th>#ID</th>
                    <th>Allowance Name</th>
                    <th>Paysheet</th>
                    <th>Submitted On</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>

                @foreach (var emp in Model.payAllowances)
                {
                    <tr>
                        <td>@emp.Hid</td>
                        <td>@emp.AllowName</td>
                        <td>@emp.Sheet</td>
                        <td>@modmain.FormatDate(emp.SubmitOn.Value)</td>

                        <td>
                            <a href='/GeneralSettings/AllowanceRates_Edit?id=@emp.Hid' class="showloading" role="button"><i class="fas fa-edit"></i></a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
}
@if (Model.Groupname == "gs_deductionrates")
{
    <div class="table-container rounded">
        <table data-cls-table-top="row flex-nowrap" data-cls-search="cell-md-8" data-role="table" data-check="true" class="table striped rounded row-hover" data-check-name="SelectedIDs" data-check-col-index="0">
            <thead>
                <tr>
                    <th>#ID</th>
                    <th>Deduction Name</th>
                    <th>Paysheet</th>
                    <th>Submitted On</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>

                @foreach (var emp in Model.payDeductions)
                {
                    <tr>
                        <td>@emp.Hid</td>
                        <td>@emp.DedName</td>
                        <td>@emp.Sheet</td>
                        <td>@modmain.FormatDate(emp.SubmitOn.Value)</td>

                        <td>
                            <a href='/GeneralSettings/DeductionRates_Edit?id=@emp.Hid' class="showloading" role="button"><i class="fas fa-edit"></i></a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
}