﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Plumbago_Brokerage.ViewComponents.PageEditModel

@{

    var pagepath = Context.Request.Path.ToString();

}
@if (Model.Groupname == "hr_employees")
{
    <div class="mb-4">
        <ul data-role="tabs" data-expand="true">
            <li class="@(pagepath == "/HumanResources/Employees_edit" ? "active" : "")"><a class="text-small text-bold" id="" href="/HumanResources/Employees_edit?id=@Model.Editid">Employee Details</a></li>
            <li class="@(pagepath == "/HumanResources/EmployeeGradeLevel_Edit" ? "active" : "")"><a class="text-small text-bold" id="hr_EmployeeGradeLevel_Edit" href="/HumanResources/EmployeeGradeLevel_Edit?id=@Model.Editid">Grade Levels/Promotion</a></li>
            <li class="@(pagepath == "/HumanResources/Qualifications_Edit" ? "active" : "")"><a class="text-small text-bold" id="hr_qualifications_edit" href="/HumanResources/Qualifications_Edit?id=@Model.Editid">Academic Qualifications</a></li>
            <li class="@(pagepath == "/HumanResources/EmployeeInterests_Edit" ? "active" : "")"><a class="text-small text-bold" id="hr_interests_edit" href="/HumanResources/EmployeeInterests_Edit?id=@Model.Editid">Interests</a></li>
            <li class="@(pagepath == "/HumanResources/EmployeeDocuments_Edit" ? "active" : "")"><a class="text-small text-bold" id="hr_documents_edit" href="/HumanResources/EmployeeDocuments_Edit?id=@Model.Editid">Documents</a></li>
            <li class="@(pagepath == "/HumanResources/EmployeeCompensation_Edit" ? "active" : "")"><a class="text-small text-bold" id="hr_compensations_edit" href="/HumanResources/EmployeeCompensation_Edit?id=@Model.Editid">Compensations</a></li>
            <li class="@(pagepath == "/HumanResources/EmployeeMedicalDetails_Edit" ? "active" : "")"><a class="text-small text-bold" id="hr_medicals_edit" href="/HumanResources/EmployeeMedicalDetails_Edit?id=@Model.Editid">Medicals</a></li>
            <li class="@(pagepath == "/HumanResources/EmployeeTraining_Edit" ? "active" : "")"><a class="text-small text-bold" id="hr_training_edit" href="/HumanResources/EmployeeTraining_Edit?id=@Model.Editid">Training</a></li>
            <li class="@(pagepath == "/HumanResources/WorkExperiences_Edit" ? "active" : "")"><a class="text-small text-bold" id="hr_experiences_edit" href="/HumanResources/WorkExperiences_Edit?id=@Model.Editid">Work Experiences</a></li>

        </ul>
    </div>
}


@if (Model.Groupname == "selfservice_tab")
{
    <div class="mb-4">
        <ul data-role="tabs" data-expand="true">
            <li class="@(pagepath == "/SelfService/Leave_request_edit" ? "active" : "")"><a class="text-small text-bold" id="" href="/SelfService/Leave_request_edit">Leave Request</a></li>
            <li class="@(pagepath == "/SelfService/Loan_request_edit" ? "active" : "")"><a class="text-small text-bold" id="" href="/SelfService/Loan_request_edit">Loan Request</a></li>
            <li class="@(pagepath == "/SelfService/Reimbursement_edit" ? "active" : "")"><a class="text-small text-bold" id="" href="/SelfService/Reimbursement_edit">Reimbursement Request</a></li>
            <li class="@(pagepath == "/SelfService/SelfAppraisal_Edit" ? "active" : "")"><a class="text-small text-bold" id="" href="/SelfService/SelfAppraisal_Edit">Self Appraisal</a></li>
            <li class="@(pagepath == "/SelfService/PaySlips" ? "active" : "")"><a class="text-small text-bold" id="" href="/SelfService/PaySlips">Download PaySlips</a></li>
          

        </ul>
    </div>
}
